<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="profile">
  <ion-card no-margin>
    <ion-card-content class="bg-profile">
      <img [src]="image">
      <h1 class="fw500">{{nombreCompleto}}</h1>
      <ion-button icon-left color="secondary" (click)="selectImage()">
        <ion-icon name="photos"></ion-icon> 
        Editar Imagen
      </ion-button>
    </ion-card-content>
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>
          <ion-list margin-bottom>
            <form [formGroup]="formperfil" (ngSubmit)="GUARDARPERFIL(formperfil.value)">
              <ion-item>
                <ion-label color="dark" position="stacked" >Nombre:</ion-label>
                <ion-input inputmode="text" formControlName ="Nombre" ></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Nombre">
                  <div class="error-message" *ngIf="formperfil.get('Nombre').hasError(validation.type) && (formperfil.get('Nombre').dirty || formperfil.get('Nombre').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <ion-item>
                <ion-label color="dark" position="stacked">Apellido:</ion-label>
                <ion-input inputmode="text" formControlName ="Apellido"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Apellido">
                  <div class="error-message" *ngIf="formperfil.get('Apellido').hasError(validation.type) && (formperfil.get('Apellido').dirty || formperfil.get('Apellido').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <ion-button color="dark" class="submit-btn" expand="full" type="submit" [disabled]="!formperfil.valid">Actualizar</ion-button>
            </form>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
