<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Actualizar Recordatorio</ion-title>
    </ion-toolbar>
</ion-header >
<ion-content fullscreen>
  <form [formGroup]="formRecordatorio" (ngSubmit)="GUARDAREDITRECORDATORIO(formRecordatorio.value)">
      <ion-grid fixed no-padding>
          <ion-row>
              <ion-col size="12" padding>
                <ion-list margin-bottom>
  
                  <ion-item no-padding class="animated fadeInUp">
                    <ion-label position="floating"> <ion-icon name="clipboard" class="icon-form"></ion-icon>Titulo</ion-label>
                    <ion-input formControlName = "titulo"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.titulo">
                      <div class="error-message" *ngIf="formRecordatorio.get('titulo').hasError(validation.type) && (formRecordatorio.get('titulo').dirty || formRecordatorio.get('titulo').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                  <ion-item no-padding class="animated fadeInUp">
                    <ion-label position="floating"><ion-icon name="card" class="icon-form"></ion-icon>Categoria</ion-label>
                    <ion-select cancelText="Cancelar" okText="Aceptar" (ngModel) = "selcate" formControlName = "selcate" (ngModelChange)="cargartipo()">
                      <ion-select-option  *ngFor ="let cat of cateList" value="{{cat.id}}" >{{cat.nombre}}</ion-select-option>
                    </ion-select>
                  
                  </ion-item> 
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.selcate">
                        <div class="error-message" *ngIf="formRecordatorio.get('selcate').hasError(validation.type) && (formRecordatorio.get('selcate').dirty || formRecordatorio.get('selcate').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                      </ng-container>
                  </div>      
                  <ion-item no-padding class="animated fadeInUp">
                    <ion-label ><ion-icon name="logo-buffer" class="icon-form"></ion-icon>Tipo</ion-label>
                    <ion-select cancelText="Cancelar" okText="Aceptar" formControlName = "seltipo">
                      <ion-select-option  *ngFor ="let tip of tipoList" value="{{tip.id}}" >{{tip.nombre}}</ion-select-option>
                    </ion-select>
                    
                  </ion-item>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.seltipo">
                        <div class="error-message" *ngIf="formRecordatorio.get('seltipo').hasError(validation.type) && (formRecordatorio.get('seltipo').dirty || formRecordatorio.get('seltipo').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                      </ng-container>
                  </div>
                </ion-list>
              </ion-col>
          </ion-row>

          <ion-row><!--Repetir cada-->
            <ion-col size = "1">
              <br>
              <ion-icon name="notifications"></ion-icon>
            </ion-col>
            <ion-col size= "11">
              <ion-segment (ionChange)="segmentChanged()" formControlName = "repetir" >
                <ion-segment-button value="1">
                  <ion-label>Sólo una ves</ion-label>
                </ion-segment-button>
                <ion-segment-button value="2">
                  <ion-label>Repita cada</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
          <ion-row >
          <ion-col size = "5">
            <ion-radio-group >

              <ion-item no-padding class="animated fadeInUp">
                <ion-checkbox slot="start" formControlName = "km" [(ngModel)]="km" checked= "{{item.km}}" (ionChange)="VALIDARTIPO( formRecordatorio.value)"></ion-checkbox>
                <ion-label>Horas</ion-label>
              </ion-item>
          
              <ion-item *ngIf="repi1" no-padding class="animated fadeInUp">
                <ion-checkbox slot="start" formControlName = "fecha1" [(ngModel)]="fecha1" checked= "{{item.fecha1}}" (ionChange)="VALIDARTIPO( formRecordatorio.value)"></ion-checkbox>
                <ion-label>Fecha</ion-label>
              </ion-item>

              <ion-item *ngIf="repi2" no-padding class="animated fadeInUp">
                <ion-checkbox slot="start" formControlName = "tiempo" [(ngModel)]="tiempo" checked= "{{item.tiempo}}" (ionChange)="VALIDARTIPO( formRecordatorio.value)"></ion-checkbox>
                <ion-label>Tiempo</ion-label>
              </ion-item>

            </ion-radio-group>
            
          </ion-col>
          <ion-col size = "7"><br>

            <ion-row>

              <ion-col size = "12" no-padding class="animated fadeInUp">
                <ion-input disabled="{{inputDisabledmk}}" formControlName = "kmetro" ></ion-input>
              </ion-col>
  
              <ion-col size = "12" *ngIf="repi1" no-padding class="animated fadeInUp">
                <ion-datetime disabled="{{inputDisabledfec}}" displayFormat="DD-MM-YYYY" formControlName = "fecha"  cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
              </ion-col>
  
              <ion-col size = "12" *ngIf="repi2" no-padding class="animated fadeInUp">
                <ion-select disabled="{{inputDisabledmes}}"  placeholder="Seleccionar" cancelText="Cancelar" okText="Aceptar"  formControlName = "mes">
                  <ion-select-option  *ngFor ="let mes of mece" value="{{mes}}" >{{mes}} mes(es)</ion-select-option>
                </ion-select>
              </ion-col>

            </ion-row>

          </ion-col>
        </ion-row>    
   
    </ion-grid>
    <ion-button size="large" expand="full" color="dark"  type="submit" no-margin [disabled]="!formRecordatorio.valid">Actualizar</ion-button>         
    </form>
</ion-content>
