<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="formeditar" (ngSubmit)="EDIGUARDAR(formeditar.value)">

    <div>
      <ion-row no-padding>
        <ion-col size="6" offset="3" offset-md = "3"  size-md= "6" style="text-align: center">
            <img class="img-user" [src]="image" alt="" lt="" tappable (click)="openPreview(image)"  >
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col size="6" offset="3">
          <ion-button fill="outline" expand="block" size="small" (click)="selectImage()">Cambiar Imagen</ion-button>
        </ion-col>
      </ion-row>
    </div>

    
    <ion-row><!--Tipo-->
      <ion-col size= "1">

      </ion-col>
      <ion-col size= "11">
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select placeholder="Select One" formControlName = "tipo" disabled >
            <ion-select-option value="m" >Moto</ion-select-option>
            <ion-select-option value="c">Carro</ion-select-option>
          </ion-select>
        </ion-item>
        
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.nomvehi">
            <div class="error-message" *ngIf="validations_form.get('nomvehi').hasError(validation.type) && (validations_form.get('nomvehi').dirty || validations_form.get('nomvehi').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>

    </ion-row>
 
    <ion-row><!--Marca-->
      <ion-col size="1">
        <br>
        <ion-icon name="help" class="icon-form"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <ion-item class="item-form">
          <ion-label position="floating">Marca</ion-label>
          <ion-input formControlName ="marca2" ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.marca2">
            <div class="error-message" *ngIf="formeditar.get('marca2').hasError(validation.type) && (formeditar.get('marca2').dirty || formeditar.get('marca2').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <ion-row><!--Modelo-->
      <ion-col size="1">
        <br>
        <ion-icon ios="ios-calendar" md="md-calendar" class="icon-form"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <ion-item class="item-form">
          <ion-label position="floating">Modelo</ion-label>
          <ion-datetime displayFormat="YYYY" [min]="anomin" [max]="anomax" formControlName = "modelo2" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.modelo2">
            <div class="error-message" *ngIf="formeditar.get('modelo2').hasError(validation.type) && (formeditar.get('modelo2').dirty || formeditar.get('modelo2').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <ion-row><!--Cilindraje-->
      <ion-col size="1">
        <br>
        <ion-icon name="speedometer" class="icon-form"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <ion-item class="item-form">
          <ion-label position="floating">Cilindraje</ion-label>
          <ion-input formControlName ="cilindraje2" type="number" ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.cilindraje2">
            <div class="error-message" *ngIf="formeditar.get('cilindraje2').hasError(validation.type) && (formeditar.get('cilindraje2').dirty || formeditar.get('cilindraje2').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <!--<ion-row>Cambio de aceite
      <ion-col size="1">
        <br>
        <ion-icon name="funnel" class= "icon-form"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <ion-item class="item-form">
          <ion-label position="floating">Cambio de aceite (km)</ion-label>
          <ion-input formControlName = "klcambioaceite2" type="number" ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.klcambioaceite2">
            <div class="error-message" *ngIf="formeditar.get('klcambioaceite2').hasError(validation.type) && (formeditar.get('klcambioaceite2').dirty || formeditar.get('klcambioaceite2').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>-->

    <ion-row><!--Km-->
      <ion-col size="1">
        <br>
        <ion-icon class="icon-form" name="speedometer"></ion-icon>
      </ion-col>
      <ion-col size="11"> 
        <ion-item class="item-form">
          <ion-label position="floating">Hora</ion-label>
          <ion-input formControlName = "klvehiculo2" type="number" ></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.klvehiculo2">
            <div class="error-message" *ngIf="formeditar.get('klvehiculo2').hasError(validation.type) && (formeditar.get('klvehiculo2').dirty || formeditar.get('klvehiculo2').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-col>
    </ion-row>

    <ion-row><!--Mas info-->
      <ion-col size="12">
        <ion-card>
          <ion-item class="activated">
            <ion-icon (click)= "masinfo(false,true)"  name="add" slot="start" *ngIf="info1"></ion-icon>
            <ion-icon (click)= "masinfo(true,false)" name="remove-circle" slot="start" *ngIf="info2"></ion-icon>
            <ion-label>Mas info</ion-label>
          </ion-item>
          <ion-card-content *ngIf="info2">

            <ion-row><!--placa-->
              <ion-col size= "1">
        
              </ion-col>
              <ion-col size= "11">
                <ion-item class="item-form">
                  <ion-label position="floating">Placa</ion-label>
                  <ion-input formControlName ="placa"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.placa">
                    <div class="error-message" *ngIf="formeditar.get('placa').hasError(validation.type) && (formeditar.get('placa').dirty || formeditar.get('placa').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
            </ion-row>


            <ion-row><!--Nombre-->
              <ion-col size="1">
              </ion-col>
              <ion-col size="11">
                <ion-item class="item-form">
                  <ion-label position="floating">Nombre personalizado</ion-label>
                  <ion-input formControlName ="nomvehi2" ></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.nomvehi2">
                    <div class="error-message" *ngIf="formeditar.get('nomvehi2').hasError(validation.type) && (formeditar.get('nomvehi2').dirty || formeditar.get('nomvehi2').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-col>
        
            </ion-row>



            <ion-row><!--Matricula-->
              <ion-col size="1">
                <br>
                <ion-icon name="card" class="icon-form"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <ion-item class="item-form">
                  <ion-label position="floating">Matricula</ion-label>
                  <ion-input formControlName = "matricula2"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
      
            <!--<ion-row>Poliza de seguro
              <ion-col size="1">
                <br>
                <ion-icon name="medkit" class="icon-form"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <ion-item class="item-form">
                  <ion-label position="floating">Poliza de seguro</ion-label>
                  <ion-input formControlName = "polizaseguro2"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>-->


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    

    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formeditar.valid">Actualizar</ion-button>
  </form>
</ion-content>
  