<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700">Recordatorio</ion-text>
          </ion-text>
      </ion-title>
    </ion-toolbar>
    <ion-toolbar color="dark">
      <!--<ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>-->
      <ion-select placeholder="Vehiculo"  interface="popover" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="mivehiculo" (ionChange)="changeVehiculo()" >
        <ion-select-option *ngFor ="let veh of vehiculoList" value="{{veh.id}}" >{{veh.marca}} {{veh.modelo}}</ion-select-option>
      </ion-select>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>         
    <ion-fab-button   color="light"  (click) = "opcion('nuevo')"  *ngIf="ocultar2" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button  color="light"  (click) = "opcion('lista')"  *ngIf="ocultar1">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br>


 

  <div *ngIf="ocultar1">
    <form class="list-form"  [formGroup]="formRecordatorio" (ngSubmit)="GUARDARRECORDATORIO(formRecordatorio.value)">
        <ion-grid fixed no-padding>
            <ion-row>
                <ion-col size="12" padding>
                    <ion-list margin-bottom>             
                      <ion-item no-padding class="animated fadeInUp">
                        <ion-label position="floating"><ion-icon name="clipboard" style="zoom:1.5;" item-start></ion-icon>Titulo</ion-label>
                        <ion-input formControlName = "titulo"></ion-input>
                      </ion-item>
                      <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.titulo">
                          <ion-text color="warning" *ngIf="formRecordatorio.get('titulo').hasError(validation.type) && (formRecordatorio.get('titulo').dirty || formRecordatorio.get('titulo').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                          </ion-text>
                        </ng-container>
                      </div>
        
                      <ion-item no-padding class="animated fadeInUp">
                        <ion-label ><ion-icon name="list" style="zoom:1.5;" item-start></ion-icon>Categoria</ion-label>
                        <ion-select cancelText="Cancelar" okText="Aceptar" formControlName = "selcate" (ngModelChange)="cargartipo()">
                          <ion-select-option  *ngFor ="let cat of cateList" value="{{cat.id}}" >{{cat.nombre}}</ion-select-option>
                        </ion-select>                  
                      </ion-item>
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.selcate">
                            <ion-text color="warning" *ngIf="formRecordatorio.get('selcate').hasError(validation.type) && (formRecordatorio.get('selcate').dirty || formRecordatorio.get('selcate').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </ion-text>
                          </ng-container>
                      </div>
  
                      <ion-item no-padding class="animated fadeInUp">
                        <ion-label ><ion-icon name="logo-buffer" style="zoom:1.5;" item-start></ion-icon>Tipo</ion-label>
                        <ion-select cancelText="Cancelar" okText="Aceptar" formControlName = "seltipo">
                          <ion-select-option  *ngFor ="let tip of tipoList" value="{{tip.id}}" >{{tip.nombre}}</ion-select-option>
                        </ion-select>                      
                      </ion-item> 
                      <div class="validation-errors">
                          <ng-container *ngFor="let validation of validation_messages.seltipo">
                            <ion-text color="warning" *ngIf="formRecordatorio.get('seltipo').hasError(validation.type) && (formRecordatorio.get('seltipo').dirty || formRecordatorio.get('seltipo').touched)">
                              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                            </ion-text>
                          </ng-container>
                      </div>
                    </ion-list>
                  </ion-col>
            </ion-row>
  
            <ion-row><!--Repetir cada-->
              <ion-col size = "1">
                <br>
                <ion-icon name="notifications" style="zoom:1.5;"></ion-icon>
              </ion-col>
              <ion-col size= "11">              
                  <ion-segment (ionChange)="segmentChanged()" formControlName = "repetir" >
                    <ion-segment-button value="1">
                      <ion-label>Sólo una ves</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="2">
                      <ion-label>Repita cada</ion-label>
                    </ion-segment-button>
                  </ion-segment>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col size = "5">
                <ion-radio-group >

                  <ion-item no-padding class="animated fadeInUp">
                    <ion-checkbox checked= "false"   slot="start" formControlName = "km" [(ngModel)]="km" (ionChange)="VALIDARTIPO( formRecordatorio.value)" ></ion-checkbox>
                    <ion-label>Horas</ion-label>
                  </ion-item>
            
                  <ion-item *ngIf="repi1" no-padding class="animated fadeInUp">
                    <ion-checkbox  checked= "false"  slot="start" formControlName = "fecha1" [(ngModel)]="fecha1" (ionChange)="VALIDARTIPO( formRecordatorio.value)" ></ion-checkbox>
                    <ion-label>Fecha</ion-label>
                  </ion-item>

                                
                  <ion-item *ngIf="repi2" no-padding class="animated fadeInUp">
                    <ion-checkbox  checked= "false"  slot="start" formControlName = "tiempo" [(ngModel)]="tiempo" (ionChange)="VALIDARTIPO( formRecordatorio.value)" ></ion-checkbox>
                    <ion-label>Tiempo</ion-label>
                  </ion-item>

                </ion-radio-group>
              </ion-col>

            <ion-col size = "7"><br>
              <ion-label></ion-label>
              <ion-row>
                <ion-col size = "12" size = "12" no-padding class="animated fadeInUp">
                  <ion-input disabled="{{inputDisabledmk}}" formControlName = "kmetro"  type = "number"></ion-input>
                </ion-col>  

                <ion-col size = "12" *ngIf="repi1" no-padding class="animated fadeInUp">
                  <ion-datetime disabled="{{inputDisabledfec}}" displayFormat="DD-MM-YYYY" formControlName = "fecha" cancel-text = "Cancelar" done-text = "Aceptar" ></ion-datetime>
                </ion-col>
                
                <ion-col size = "12" *ngIf="repi2" no-padding class="animated fadeInUp">
                  <ion-select disabled="{{inputDisabledmes}}" cancelText="Cancelar" okText="Aceptar"  formControlName = "mes" placeholder="Seleccionar">
                    <ion-select-option  *ngFor ="let mes of mece" value="{{mes}}" >{{mes}} mes(es)</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>


            </ion-col>
          </ion-row>          
        </ion-grid>
        <ion-button size="large" expand="full" color="dark"  type="submit" no-margin [disabled]="!formRecordatorio.valid">Guardar</ion-button>         
    </form>
  </div>
  <br>

  <div *ngIf="ocultar2">

      <ion-row>
          <ion-col>
            <ion-segment (ionChange)="LISTARRECORDATORIO($event)" name = "escoger" [(ngModel)]="escoger" >
              <ion-segment-button value="pendientes">
                <ion-label>Pendientes</ion-label>
              </ion-segment-button>
              <ion-segment-button value="ejecutados">
                <ion-label>Ejecutados</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>

    <ion-item-sliding *ngFor ="let record of recordatorioList; let i = index;">
      <ion-item>

        <ion-col size = "1">
          <ion-icon class="icon-detalle" tappable (click)="toggleSection(i)"  name="eye"  *ngIf="!record.open">
          </ion-icon>
          <ion-icon class="icon-detalle"  tappable (click)="toggleSection(i)"  name="eye-off"  *ngIf="record.open"></ion-icon>
        </ion-col>

        <ion-label> {{record.titulo}}</ion-label>
        <p class="text-11x no-margin">
            <ion-text  color="danger"*ngIf = "record.fecha!=''">
              <!--{{record.fecha | date: "shortTime" }}-->
              {{record.fecha.toMillis() | date:'yyyy/MM/dd'}}

            </ion-text>
            <ion-text  color="danger"*ngIf = "record.kmetro!=''">{{record.kmetro}} Horas</ion-text>
            <ion-text  color="danger" *ngIf = "record.mes!=''">{{record.mes}} mes(es) </ion-text>
          </p>
      </ion-item>
      <ion-item-options side="end" *ngIf = "record.estado == 0 ">
        <ion-item-option (click)="ACTULIZARRECORDATORIO(record.id)">Editar</ion-item-option>
        <ion-item-option (click)="ELIMINARRECORDATORIO(record.id)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>


      <ion-card-content *ngIf="record.open">
        <ion-list>
          <ion-item >
            <ion-label>Tipo: {{record.tipo}}</ion-label><br>
          </ion-item>
          <ion-item >
            <ion-label *ngIf = "record.repetir==1" >Repetir solo una ves </ion-label>
            <ion-label *ngIf = "record.repetir==2" >Repetir cada </ion-label>
          </ion-item>
          <ion-item >
            <ion-label *ngIf = "record.kmetro!=''" >{{record.kmetro}} Horas</ion-label>
            <ion-label *ngIf = "record.mes!=''" >{{record.mes}} mes(es)</ion-label>
            <ion-label *ngIf = "record.fecha!=''" >{{record.fecha.toMillis() | date:'yyyy/MM/dd'}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>

    </ion-item-sliding>

    <ion-item *ngIf = "recordatorioList?.length<=0" no-padding class="animated fadeInUp">
      <ion-label>No hay datos registrados</ion-label>
    </ion-item>
  </div>
</ion-content>
