
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Mi Cuenta
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding id="page9">
  <ion-card id="miCuenta-card22">
    <ion-list>
      <ion-item color="none" id="miCuenta-list-item5">
        <ion-avatar item-left>
          <img [src]="imagenperfil"/>
        </ion-avatar>
        <h2>
          {{nomusuario}}
        </h2>
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#fd9800;text-align:center;">
        <img [src]="imagenperfil" class="img-user">
      </div>
      <ion-item id="miCuenta-list-item-container3">
        <div id="miCuenta-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            Some friendly
            <strong>
              markdown
            </strong>
          </p>
        </div>
      </ion-item>
      <ion-item color="assertive" id="miCuenta-list-item6">
        <ion-icon name="musical-notes" item-left></ion-icon>
        Play Song
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>