<!--<ng-template #modalnuevo let-modal>-->
  <form [formGroup]="formRecordatorio" (ngSubmit)="guardarRecordatorio(formRecordatorio.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Recordatorio de Tarea</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     
        <ion-row><!--Nota-->
         
          <ion-col size="12">
            <ion-item class="item-form">
              <ion-label  position="floating">Digite una observación para asociar al recordatorio:</ion-label>
              <ion-textarea formControlName = "Solucion" [ngStyle]="{ 'white-space': 'pre-wrap' }"></ion-textarea>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Solucion">
                  <div class="error-message" *ngIf="formRecordatorio.get('Solucion').hasError(validation.type) && (formRecordatorio.get('Solucion').dirty || formRecordatorio.get('Solucion').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>     
    </div>
    <div class="modal-footer">
    
      <button type="submit" class="btn btn-primary"  [disabled]="!formRecordatorio.valid">Enviar</button>
      <button type="button" class="btn btn-danger" (click)="activeModal.close('Ok click')">Cancelar</button>
    </div>
  </form>
  <!--</ng-template>
  <hr>
  <pre>{{ closeResult }}</pre>-->