  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Entradas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding fullscreen>
    <form [formGroup]="formEntrada" (ngSubmit)="GUARDARDETALLEINVENT(formEntrada.value)">
  
      <ion-row><!--Marca-->
        <ion-col size = '1'>
          <br>
          <ion-icon ios="ios-globe" md="md-globe" class="icon-form"></ion-icon>
        </ion-col>
        <ion-col size = '11'>
          <ion-item class="item-form">
            <ion-label  position="floating">Marca</ion-label>
            <ion-input type="text" formControlName = "marca"></ion-input>
           
          </ion-item> 
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.marca">
                <div class="error-message" *ngIf="formEntrada.get('marca').hasError(validation.type) && (formEntrada.get('marca').dirty || formEntrada.get('marca').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
        </ion-col>
      </ion-row>
  
      <ion-row><!--Almacen-->
        <ion-col size = '1'>
          <br>
          <ion-icon name="business" class="icon-form"></ion-icon>
  
        </ion-col>
        <ion-col size = '11'>
          <ion-item class="item-form">
            <ion-label  position="floating">Almacen</ion-label>
            <mat-form-field>
              <input type="text" matInput formControlName="almacen" [matAutocomplete]="auto"/>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of (filteredOptions | async)" [value]="option.nombre">
                  {{ option.nombre }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.almacen">
                <div class="error-message" *ngIf="formEntrada.get('almacen').hasError(validation.type) && (formEntrada.get('almacen').dirty || formEntrada.get('almacen').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
        </ion-col>
      </ion-row>
  
      <ion-row><!--Fecha-->
        <ion-col size = '1'>
          <br>
          <ion-icon ios="ios-calendar" md="md-calendar" class="icon-form"></ion-icon>
        </ion-col>
        <ion-col size = '11'>
          <ion-item class="item-form">
            <ion-label  position="floating">Fecha</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" formControlName = "fecha" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
            
          </ion-item> 
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.fecha">
                <div class="error-message" *ngIf="formEntrada.get('fecha').hasError(validation.type) && (formEntrada.get('fecha').dirty || formEntrada.get('fecha').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
        </ion-col>
      </ion-row>
  
      <ion-row><!--Cantidad-->
        <ion-col size = '1'>
          <br>
          <ion-icon ios="ios-calculator" md="md-calculator" class="icon-form"></ion-icon>
        </ion-col>
        <ion-col size = '11'>
          <ion-item class="item-form">
            <ion-label  position="floating">Cantidad</ion-label>
            <ion-input type="number" formControlName = "cantidad"></ion-input>
            
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Cantidad">
                <div class="error-message" *ngIf="formEntrada.get('Cantidad').hasError(validation.type) && (formEntrada.get('Cantidad').dirty || formEntrada.get('Cantidad').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div> 
        </ion-col>
      </ion-row>
  
      <ion-row><!--Valor-->
        <ion-col size = '1'>
          <br>
          <ion-icon ios="logo-usd" md="logo-usd" class="icon-form"></ion-icon>
        </ion-col>
        <ion-col size = '11'>
          <ion-item class="item-form">
            <ion-label  position="floating">Valor</ion-label>
            <ion-input type="number" formControlName = "valor"></ion-input>            
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Valor">
                <div class="error-message" *ngIf="formEntrada.get('Valor').hasError(validation.type) && (formEntrada.get('Valor').dirty || formEntrada.get('Valor').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
        </ion-col>  
      </ion-row>  


      <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formEntrada.valid">Guardar</ion-button>
    </form>

   
  
  
    <ion-card *ngFor ="let deta of detinvlis">
      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col size="12">
              <ion-text color="primary">Marca:</ion-text> {{deta.marca}} <br>
              <ion-text color="primary">Almacen:</ion-text> {{deta.almacen}} <br>
              <ion-text color="primary">Fecha:</ion-text> {{deta.fecha.toMillis()  | date:'dd/MM/yyyy'}} <br>
              <ion-text color="primary">Cantidad:</ion-text> {{deta.cantidad}} <br> 
              <ion-text color="primary">Valor:</ion-text> {{deta.valor | currency:'$':true:'1.2-2'}}
            </ion-col>
          </ion-row>        
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="ELIMINARDETALLE(deta.id, deta.cantidad)" color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  
  </ion-content>
  