<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Salida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-row>
      <ion-col size = "12">
        <form [formGroup]="formSalida" (ngSubmit)="GUARDARSALIDA(formSalida.value)">
  
  
          <ion-item class="item-form">
            <ion-label position="floating">Fecha</ion-label>
            <ion-datetime formControlName = "fecha" displayFormat="DD-MM-YYYY" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.fecha">
                <div class="error-message" *ngIf="formSalida.get('fecha').hasError(validation.type) && (formSalida.get('fecha').dirty || formSalida.get('fecha').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>  
          <ion-item class="item-form">
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input formControlName ="Cantidad" type="number"></ion-input>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Cantidad">
                <div class="error-message" *ngIf="formSalida.get('Cantidad').hasError(validation.type) && (formSalida.get('Cantidad').dirty || formSalida.get('Cantidad').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>  
          <ion-item class="item-form">
            <ion-label  position="floating">Nota</ion-label>
            <ion-textarea formControlName ="nota"></ion-textarea>           
          </ion-item> 
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.nota">
                <div class="error-message" *ngIf="formSalida.get('nota').hasError(validation.type) && (formSalida.get('nota').dirty || formSalida.get('nota').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
  
          <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formSalida.valid">Guardar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  
    <ion-card *ngFor ="let deta of detinvlis">
      <ion-item-sliding>
        <ion-item>
          
            <ion-col size="11">
              <ion-text color="primary">Fecha:</ion-text> {{deta.fecha.toMillis()  | date:'dd/MM/yyyy'}}<br>
              <ion-text color="primary">Cantidad:</ion-text> {{deta.cantidad}} <br> 
              <ion-text color="primary">Nota:</ion-text> {{deta.nota}}
            </ion-col>
  
            <ion-col size="1">
              <ion-icon name="arrow-round-back" style="zoom:1.5;"></ion-icon>
            </ion-col>       
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="ELIMINARDETALLE(deta.id, deta.cantidad)" color="danger">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-content>
  