<ion-fab vertical="bottom" horizontal="center" slot="fixed" class="animated fadeInDown">
  <ion-fab-button (click)="togglePopupMenu()">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="apps"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="popup-menu">
  <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}"></div>
  <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
    <div class="popup-menu-item" [routerLink]="['/vehiculo']">
      <ion-icon name="car" slot="middle" size="large"></ion-icon>
      <span>Mis Vehiculos</span>
    </div>
    <div class="popup-menu-item" [routerLink]="['/registro']">
      <ion-icon name="cash" slot="middle" size="large"></ion-icon>
      <span>Gastos/Servicios</span>
    </div>
    <div class="popup-menu-item" [routerLink]="['/inventario']"> 
      <ion-icon name="list-box" slot="middle" size="large"></ion-icon>
      <span>Inventario</span>
    </div>
    <div class="popup-menu-item" [routerLink]="['/abastecimiento']">
      <ion-icon name="color-fill" slot="middle" size="large"></ion-icon>
      <span>Abastecimiento</span>
    </div>
    <div class="popup-menu-item" [routerLink]="['/home-results']">
      <ion-icon name="home" slot="middle" size="large"></ion-icon>
      <span>Home</span>
    </div>
  </div>
</div>