<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="closeTipo()">
          <ion-icon name="arrow-round-back"></ion-icon>
    
      </ion-buttons>
      <ion-title>Tipos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ngModel)="searchValue" (ionChange)="searchTipo()"></ion-searchbar>
  <ion-list  class="ion-list-checkbox">
      <ion-item *ngFor="let tip of dettip">
        <ion-row>
          <ion-col size="1"><ion-checkbox (ngModel)="tip.id" (ionChange)="seltipo(tip.id,tip.nombre,$event,1)"  color="danger"></ion-checkbox></ion-col>
          <ion-col size="6"> <ion-label>{{tip.nombre }}</ion-label></ion-col>
          <ion-col size="5"><ion-input type="number" placeholder="Valor" (ngModel)="tip.id" (ionChange)="seltipo(tip.id,tip.nombre,$event,2)" ></ion-input></ion-col>
        </ion-row>
      </ion-item>
  </ion-list>
  <!--<ion-grid *ngFor="let tip of dettip">
    <ion-row class="item-form">
      <ion-col size="1">
          <div>
        <ion-checkbox (ngModelChange)="seltipo()" slot="start" color="danger"></ion-checkbox>
        </div>
      </ion-col> 
      <ion-col size="6">        
        <div>
            <ion-label>{{tip.nombre}}</ion-label>
        </div>
      </ion-col>
      <ion-col size="5">
        <div>
            
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <ion-list *ngIf ="dettip?.length<=0">
      <ion-item>
        <ion-label>no hay registros</ion-label>
      </ion-item>
    </ion-list>
</ion-content>