<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      
      <h3 no-margin>
        <ion-text color="light" class="fw700">
          <ion-text color="secondary">Regístrate</ion-text>
        </ion-text>
      </h3>
    </div>

    <!-- Register form -->
    <div>
        <ion-row no-padding>
          <ion-col size="6" offset="3" offset-md = "3"  size-md= "6" style="text-align: center">
              <img class="img-user" [src]="image" alt="" lt="" tappable (click)="openPreview(image)" >
          </ion-col>
        </ion-row>
        <ion-row no-padding>
          <ion-col size="6" offset="3">
            <ion-button fill="outline" expand="block" size="small" (click)="selectImage()">Cambiar Imagen</ion-button>
          </ion-col>
        </ion-row>
      </div>
    <form [formGroup]="onRegisterForm" class="list-form" (ngSubmit)="OnSubmitRegister(onRegisterForm.value)">
        <ion-item no-padding class="animated fadeInUp"> 
            <ion-label position="floating" > 
                <ion-icon name="mail" item-start></ion-icon>
              Nombre</ion-label>
            <ion-input type="text" formControlName="name"  ></ion-input>
        </ion-item>
        <div class="validation-errors text08">
          <ng-container *ngFor="let validation of validation_messages.name">
            <ion-text color="warning"  *ngIf="onRegisterForm.get('name').hasError(validation.type) && (onRegisterForm.get('name').dirty || onRegisterForm.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
        </div>
  
      <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating" > 
              <ion-icon name="mail" item-start></ion-icon>
            Apellido</ion-label>
          <ion-input type="text" formControlName="lastname"  ></ion-input>
      </ion-item>
      <div class="validation-errors text08">
        <ng-container *ngFor="let validation of validation_messages.lastname">
          <ion-text color="warning"  *ngIf="onRegisterForm.get('lastname').hasError(validation.type) && (onRegisterForm.get('lastname').dirty || onRegisterForm.get('lastname').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
  
      <ion-item no-padding class="animated fadeInUp"> 
        <ion-label position="floating" > 
            <ion-icon name="mail" item-start></ion-icon>
          Correo electrónico</ion-label>
        <ion-input type="text" formControlName="email"  name="email" ></ion-input>
      </ion-item>
      <div class="validation-errors text08">
        <ng-container *ngFor="let validation of validation_messages.email">
          <ion-text color="warning"  *ngIf="onRegisterForm.get('email').hasError(validation.type) && (onRegisterForm.get('email').dirty || onRegisterForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
  
  
      <div formGroupName="matching_passwords">
        <ion-item no-padding class="animated fadeInUp"> 
          <ion-label position="floating" color="primary">
              <ion-icon name="lock" item-start></ion-icon>
            Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors text08">
          <ng-container *ngFor="let validation of validation_messages.password">
            <ion-text color="warning"  *ngIf="onRegisterForm.get('matching_passwords').get('password').hasError(validation.type) && (onRegisterForm.get('matching_passwords').get('password').dirty || onRegisterForm.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
        </div>
  
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating" color="primary">
              <ion-icon name="lock" item-start></ion-icon>
            Confirmar Contraseña</ion-label>
          <ion-input type="password" formControlName="confirm_password"></ion-input>
        </ion-item>
        <div class="validation-errors text08">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <ion-text color="warning"  *ngIf="onRegisterForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (onRegisterForm.get('matching_passwords').get('confirm_password').dirty || onRegisterForm.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
        </div>
      </div>
      <!-- These validations are for the form group -->
      <div class="validation-errors text08">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <ion-text color="warning"  *ngIf="onRegisterForm.get('matching_passwords').hasError(validation.type) && (onRegisterForm.get('matching_passwords').get('confirm_password').dirty || onRegisterForm.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </ion-text>
        </ng-container>
      </div>
  
        <ion-item no-padding class="animated fadeInUp">
          <ion-label color="primary">Aceptar los términos y condiciones</ion-label>
          <ion-checkbox color="primary" formControlName="terms"></ion-checkbox>
        </ion-item>
        <div class="validation-errors text08">
          <ng-container *ngFor="let validation of validation_messages.terms">
            <ion-text color="warning"  *ngIf="onRegisterForm.get('terms').hasError(validation.type) && (onRegisterForm.get('terms').dirty || onRegisterForm.get('terms').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
        </div>
    <div margin-top>
      <ion-button  type="submit" icon-left size="medium" expand="full" shape="round" color="dark" (click)="signUp()" [disabled]="!onRegisterForm.valid"
        tappable>
        <ion-icon name="log-in"></ion-icon>
        Registrarse
      </ion-button>

      <p text-center>
        <ion-text color="light">
          O Registrate con:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" fill="outline" color="tertiary">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </form>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToLogin()" tappable>
        <ion-text color="light">
          <strong>¡Tengo una cuenta!</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>