<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700">Gastos /Servicios</ion-text>
          </ion-text>
      </ion-title>
    </ion-toolbar>
    <ion-toolbar color="dark">
      <ion-select placeholder="Vehiculo"  interface="popover" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="mivehiculo" (ionChange)="changeVehiculo()" >
          <ion-select-option *ngFor ="let veh of vehiculoList" value="{{veh.id}}" >{{veh.marca}} {{veh.modelo}}</ion-select-option>
      </ion-select>
    </ion-toolbar>
  </ion-header>
<br>
  <ion-content fullscreen>
      <ion-fab horizontal="end" vertical="top" slot="fixed" edge>         
        <ion-fab-button   color="light"  (click) = "opcion('nuevo')"  *ngIf="ocultar2" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button  color="light"  (click) = "opcion('lista')"  *ngIf="ocultar1">
          <ion-icon name="list"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    
    <div *ngIf="ocultar1">

    <form class="list-form"  [formGroup]="validations_form"  (ngSubmit)="OnSubmitRegistro(validations_form.value)">
      <ion-grid fixed no-padding>
        <ion-row>
            <ion-col size="12" padding>
              <ion-list margin-bottom>
     
                <ion-item class="animated fadeInUp">
                  <ion-label position="floating"> 
                    <ion-icon  name="calendar" item-start></ion-icon>Fecha</ion-label>
                  <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Seleccionar" formControlName="selfecha" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
                </ion-item>
                  <ion-item class="animated fadeInUp">
                    <ion-label position="floating"><ion-icon  name="pin" item-start></ion-icon>Odometro:</ion-label>
                    <ion-input type="number" placeholder="Horas" formControlName="txtkm"></ion-input>

                  </ion-item>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.txtkm">
                        <div class="error-message" *ngIf="validations_form.get('txtkm').hasError(validation.type) && (validations_form.get('txtkm').dirty || validations_form.get('txtkm').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                      </ng-container>
                  </div>
         
                  <ion-item class="animated fadeInUp">
                    <ion-label position="floating"><ion-icon  name="pin" item-start></ion-icon>Local</ion-label>
                    <!--<ion-select  okText="Ok" cancelText="Cancelar" formControlName="sellocal">
                      <ion-select-option *ngFor ="let loc of localList" value="{{loc.id}}">{{loc.nombre}}</ion-select-option>
                    </ion-select>-->
                    <mat-form-field>
                        <input type="text"  matInput formControlName="txtlocal" [matAutocomplete]="auto"/>
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of (filteredOptionsLocal | async)" [value]="option.nombre">
                            {{option.nombre}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                  </ion-item>
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.txtlocal">
                        <div class="error-message" *ngIf="validations_form.get('txtlocal').hasError(validation.type) && (validations_form.get('txtlocal').dirty || validations_form.get('txtlocal').touched)">
                          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                        </div>
                      </ng-container>
                  </div>
                <ion-item class="animated fadeInUp">
                  <ion-label position="floating"><ion-icon  name="list" item-start></ion-icon>Categoria</ion-label>
                  <ion-select cancelText="Cancelar" okText="Aceptar" [(ngModel)]="selcate" formControlName="selcate">
                    <ion-select-option  *ngFor ="let cat of cateList" value="{{cat.id}}" >{{cat.nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.selcate">
                      <div class="error-message" *ngIf="validations_form.get('selcate').hasError(validation.type) && (validations_form.get('selcate').dirty || validations_form.get('selcate').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                </div>
              
      
              <ion-item class="animated fadeInUp">
                <ion-label >Tipo</ion-label>
                <ion-button (click)="openTipos()">
                    <ion-icon slot="end" name="add-circle"></ion-icon>
                  Seleccionar
                  </ion-button>
                <!--<ion-select okText="Ok" cancelText="Cancelar" multiple  [(ngModel)]="seltipo" name = "seltipo">
                  <ion-select-option  *ngFor ="let tip of tipoList" value="{{tip.id}}" >{{tip.nombre}}</ion-select-option>
                </ion-select>-->
              </ion-item>
              <ion-item *ngFor="let tip of tiposeleccionados; let i=index" class="item-form-detalle">  
                    <ion-col size="7">{{tip.nombre}}</ion-col>
                    <ion-col size="4">{{tip.valor | currency:'$':'symbol' }}</ion-col>
                    <ion-col size="1"><ion-icon (click)="deleteTip(i)" class='icon-close' name="close"></ion-icon></ion-col>                
              </ion-item>
              <ion-item class="item-total">Total: <span slot="">{{ total | currency:'$':'symbol' }}</span></ion-item>
      
              <ion-item class="animated fadeInUp">
                  <ion-label position="floating"><ion-icon  name="calendar" item-start></ion-icon>Nota</ion-label>
                  <ion-textarea placeholder="" formControlName="txtnota"></ion-textarea>
              </ion-item>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.txtnota">
                    <div class="error-message" *ngIf="validations_form.get('txtnota').hasError(validation.type) && (validations_form.get('txtnota').dirty || validations_form.get('txtnota').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
              </div>
              </ion-list>

            
          </ion-col>
        </ion-row>
        </ion-grid>
        <ion-button size="large" expand="full" color="dark"  type="submit" no-margin [disabled]="!validations_form.valid">Guardar</ion-button>
      </form>
    </div>
    <section id="cd-timeline" *ngIf="ocultar2" >
        <div *ngFor="let reg of registroList; let i = index; let last = last; let first = first" class="cd-container">            
          <div [class]="last?'cd-timeline-last-block':'cd-timeline-block'" tappable (click)="toggleSection(i)"> 
            <div class="cd-timeline-icon energized">
              <ion-icon name="cash"  [color]="first? 'secondary':'primary'"></ion-icon>
            </div>
            <div class="cd-timeline-content positive">
              <h5 class="marginBottom0 marginTop0" ion-text >{{ reg.categoria }} <span *ngIf="!reg.open" class="cd-count-detalle">(+{{reg.detalle.length }})</span></h5>
              <p class="marginTop5 cd-author">{{reg.fecha.toMillis() | date:'yyyy/MM/dd'}}</p>
              <p class="marginTop5 cd-author"><ion-icon name="pin"></ion-icon>{{reg.local}}</p>
              <p class="timelineText" ion-text>{{reg.nota}}</p>
            </div>
            <!--Detalle del registro reg.detalle && -->
              
          </div>
          <div *ngIf="reg.open" class="cd-timeline-detalle">
                <h6>Detalle:</h6>
                <ion-grid >                    
                    <ion-row *ngFor="let child of reg.detalle; let j = index;" lines="none"  class="cd-list-detalle">
                      <ion-col size="7">{{child.nombre}}</ion-col>
                      <ion-col size="5" class="text-right">{{child.valor | currency:'$ ':'symbol' }}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12"  style="text-align: right">
                        <ion-button class="button-form" (click)="ELIMINARREGISTRO(reg.id)">
                          <ion-icon class="icon-form-home"  name="trash" color="danger"></ion-icon>
                        </ion-button>
                        <ion-button class="button-form" [routerLink]="['/actualizar-registro', reg.id,1]">
                          <ion-icon class="icon-form-home" name="create" color="secondary" ></ion-icon>
                        </ion-button>
                        <ion-button class="button-form">
                          <ion-icon class="icon-form-home" name="eye" color="dark"></ion-icon>
                        </ion-button>                        
                      </ion-col>
                    </ion-row>
                </ion-grid>                
              </div>
        </div>
      </section>
      <ion-list *ngIf="registroList?.length<=0">
        <ion-item><ion-label>No se encontraro datos </ion-label></ion-item>
      </ion-list>
    </ion-content>
    