<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Combustibles
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>

      <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button   color="light"  (click) = "segmentChanged('nuevo')"  *ngIf="ocultar2" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button  color="light"  (click) = "segmentChanged('lista')"  *ngIf="ocultar1">
          <ion-icon name="list"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <br>
      <ion-grid *ngIf="ocultar1">
        <form [formGroup]="formcombustible" (ngSubmit)="GUARDARCOM(formcombustible.value)">
          <ion-row>
          <ion-col size="12">
            <ion-item class="item-form">
              <ion-label position="floating">Nombre</ion-label>
              <ion-input type="text" formControlName = "Nombre" ></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Nombre">
                <div class="error-message" *ngIf="formcombustible.get('Nombre').hasError(validation.type) && (formcombustible.get('Nombre').dirty || formcombustible.get('Nombre').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>  
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formcombustible.valid">Guardar</ion-button>
            </ion-col>
          </ion-row>
         
        </form>
      </ion-grid>
    
      <ion-grid *ngIf="ocultar2">
        <ion-item-sliding *ngFor ="let combus of combList">
            <ion-item>
              <ion-col size="11">
                <ion-label>{{combus.nombre}}</ion-label>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="arrow-round-back" style="zoom:2.0;" ></ion-icon>
              </ion-col>
            </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="ACTULIZARCOMBUSTIBLE(combus.id)">Editar</ion-item-option>
            <ion-item-option (click)="ELIMINARCOMBUSTIBLE(combus.id)" color="danger">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    
        <ion-item *ngIf = "combList?.length<=0">
          <ion-label>No hay datos registrados</ion-label>
        </ion-item>
      </ion-grid>
    
    </ion-content>
