<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Actualizar Registro</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <form class="list-form"  [formGroup]="validations_formedit"  (ngSubmit)="OnSubmitUpdateRegistro(validations_formedit.value)">
      <ion-grid fixed no-padding>
        <ion-row>
            <ion-col size="12" padding>
              <ion-list margin-bottom>
              <ion-item class="animated fadeInUp">
                <ion-label position="floating"><ion-icon name="calendar" item-star></ion-icon>Fecha</ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Seleccionar" formControlName="selfecha" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
              </ion-item>
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.selfecha">
                    <div class="error-message" *ngIf="validations_formedit.get('selfecha').hasError(validation.type) && (validations_formedit.get('selfecha').dirty || validations_formedit.get('selfecha').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
              </div>
              <ion-item class="animated fadeInUp">
                  <ion-label position="floating"><ion-icon  name="pin" item-start></ion-icon>Odometro:</ion-label>
                  <ion-input type="number" placeholder="km" formControlName="txtkm"></ion-input>

                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.txtkm">
                      <div class="error-message" *ngIf="validations_formedit.get('txtkm').hasError(validation.type) && (validations_formedit.get('txtkm').dirty || validations_formedit.get('txtkm').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                </div>
            
                <ion-item class="animated fadeInUp">
                  <ion-label position="floating"><ion-icon name="pin" item-star></ion-icon>Local</ion-label>
                 <!--<ion-select  okText="Ok" cancelText="Cancelar" formControlName="sellocal">
                    <ion-select-option *ngFor ="let loc of localList" value="{{loc.id}}">{{loc.nombre}}</ion-select-option>
                  </ion-select>-->
                  <mat-form-field>
                      <input type="text"  matInput formControlName="txtlocal" [matAutocomplete]="auto"/>
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of (filteredOptionsLocal | async)" [value]="option.nombre">
                          {{ option.nombre }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.txtlocal">
                      <div class="error-message" *ngIf="validations_formedit.get('txtlocal').hasError(validation.type) && (validations_formedit.get('txtlocal').dirty || validations_formedit.get('txtlocal').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                </div>
                <ion-item class="animated fadeInUp">
                  <ion-label position="floating"><ion-icon name="list" item-star></ion-icon>Categoria</ion-label>
                  <ion-select cancelText="Cancelar" okText="Aceptar" [(ngModel)]="selcate" formControlName="selcate">
                    <ion-select-option  *ngFor ="let cat of cateList" value="{{cat.id}}"  [disabled]="dcate" >{{cat.nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.selcate">
                      <div class="error-message" *ngIf="validations_formedit.get('selcate').hasError(validation.type) && (validations_formedit.get('selcate').dirty || validations_formedit.get('selcate').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                </div>
                
        
                <ion-item class="animated fadeInUp">
                  <ion-label >Tipo</ion-label>
                  <ion-button (click)="openTipos()" [disabled]="dtipo" >
                      <ion-icon slot="end" name="add-circle"></ion-icon>
                     Seleccionar
                    </ion-button>
                  <!--<ion-select okText="Ok" cancelText="Cancelar" multiple  [(ngModel)]="seltipo" name = "seltipo">
                    <ion-select-option  *ngFor ="let tip of tipoList" value="{{tip.id}}" >{{tip.nombre}}</ion-select-option>
                  </ion-select>-->
                </ion-item>
                <ion-item *ngFor="let tip of tiposeleccionados; let i=index" class="item-form-detalle">
                 
                    
                      <ion-col size="7">{{tip.nombre}}</ion-col>
                      <ion-col size="4">
                          <ion-input type="number" placeholder="valor" value="{{tip.valor}}" (ionChange)="updTipo($event,i,tip.cat,tip.tipo,tip.nombre)"></ion-input>
                        <!--{{tip.valor | currency:'$':'symbol' }}--></ion-col>
                      <ion-col size="1"><ion-icon (click)="deleteTip(i)" class='icon-close' name="close"></ion-icon></ion-col>
                  
                 
                </ion-item>
                <ion-item class="item-total">Total: <span slot="">{{ total | currency:'$':'symbol' }}</span></ion-item>
        
                <ion-item class="animated fadeInUp">
                    <ion-label position="floating">Nota</ion-label>
                    <ion-textarea placeholder="" formControlName="txtnota"></ion-textarea>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.txtnota">
                      <div class="error-message" *ngIf="validations_formedit.get('txtnota').hasError(validation.type) && (validations_formedit.get('txtnota').dirty || validations_formedit.get('txtnota').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                </div>
                </ion-list>
    
              
            </ion-col>
          </ion-row>        
        </ion-grid>
        <ion-button size="large" expand="full" color="dark"  type="submit" no-margin [disabled]="!validations_formedit.valid">Actualizar</ion-button>         
      

    </form>
</ion-content>
