<ion-header>
  <ion-toolbar>
    <ion-title text-center>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content" fullscreen> 
    <div>
        <ion-row no-padding>
          <ion-col size="6" offset="3">
              <img class="icon" [src]="image" alt="" >
          </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col size="6" offset="3">
          <ion-button fill="outline" expand="block" size="small" (click)="selectImage()">Cambiar Imagen</ion-button>
        </ion-col>
      </ion-row>
    </div>

  <form>
  <ion-item>
      <ion-label position="floating" > Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" > Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="apelli" name="apelli" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" > Fecha nacimiento</ion-label>
  <ion-datetime displayFormat="DD-MM-YYYY" placeholder="Select Date" [(ngModel)]= "fechanaci" name = "fechanaci" cancel-text = "Cancelar" done-text = "Aceptar" ></ion-datetime>
</ion-item>

<ion-item>
  <ion-label position="floating" > Celular</ion-label>
  <ion-input type="text" [(ngModel)]="cel" name="cel" ></ion-input>
</ion-item>


<ion-item>
  <ion-label position="floating" > Dirección</ion-label>
  <ion-input type="text" [(ngModel)]="dire" name="dire" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" > Correo electrónico</ion-label>
  <ion-input type="text" [(ngModel)]="email"  name="email" ></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating" > Contraseña</ion-label>
  <ion-input  type="password" [(ngModel)]="password"  name="password"></ion-input>
</ion-item>


<br>
<ion-button color="secondary" expand="block" (click)="OnSubmitRegister()">Registrarse</ion-button>
<label class="error-message">{{errorMessage}}</label>
<label class="success-message">{{successMessage}}</label>
</form>
<br>
<p class="item-cuenta"  text-center routerLink="/login">Ya tengo cuenta</p>


</ion-content>