<!--<ng-template #modalnuevo let-modal>-->
  <form [formGroup]="formSolucionar" (ngSubmit)="guardarSolucionar(formSolucionar.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Solucionar a tarea</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     
        <ion-row><!--Nota-->
          
          <ion-col size="12">
            <ion-item class="item-form">
              <ion-label  position="floating">Ingrese la solución de la tarea:</ion-label>
              <ion-textarea  [(ngModel)]="Solucion" formControlName = "Solucion" [ngStyle]="{ 'white-space': 'pre-wrap' }"></ion-textarea>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Solucion">
                  <div class="error-message" *ngIf="formSolucionar.get('Solucion').hasError(validation.type) && (formSolucionar.get('Solucion').dirty || formSolucionar.get('Solucion').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>     
    </div>
    <div class="modal-footer">
    
      <button type="submit" class="btn btn-primary"  [disabled]="!formSolucionar.valid">Completar</button>
      <button type="button" class="btn btn-danger" [disabled]="!formSolucionar.valid" (click)="guardarActualizar()">Actualizar</button>
    </div>
  </form>
  <!--</ng-template>
  <hr>
  <pre>{{ closeResult }}</pre>-->