  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700">Locales</ion-text>
          </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
      <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <ion-fab-button   color="light"  (click) = "segmentChanged('nuevo')"  *ngIf="ocultar2" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button  color="light"  (click) = "segmentChanged('lista')"  *ngIf="ocultar1">
          <ion-icon name="list"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-grid>
        <ion-grid *ngIf="ocultar1">
          <form [formGroup]="formLocal" (ngSubmit)="GUARDARLOCAL(formLocal.value)">
            <ion-row>  
              <ion-col size = "12">
              <ion-item class="item-form">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input formControlName ="Nombre" ></ion-input>               
              </ion-item> 
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Nombre">
                  <div class="error-message" *ngIf="formLocal.get('Nombre').hasError(validation.type) && (formLocal.get('Nombre').dirty || formLocal.get('Nombre').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
              <ion-item class="item-form">
                <ion-label position="floating">Ubicación</ion-label>
                <ion-input  formControlName = "Ubicacion" ></ion-input>
                
              </ion-item> 
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.Ubicacion">
                    <div class="error-message" *ngIf="formLocal.get('Ubicacion').hasError(validation.type) && (formLocal.get('ubicacion').dirty || formLocal.get('Ubicacion').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div> 
            </ion-col></ion-row>
          
            <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formLocal.valid">Guardar</ion-button>
          </form>
        </ion-grid>
      </ion-grid>
    
    
      <ion-grid *ngIf="ocultar2">
        <ion-item-sliding *ngFor ="let local of localesList">
            <ion-item>
              <ion-col size = "11">
                <ion-label>{{local.nombre}}</ion-label>
              </ion-col>
              <ion-col size="1">
                <ion-icon name="arrow-round-back" style="zoom:2.0;" ></ion-icon>
              </ion-col>
            </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="ACTULIZARLOCALES(local.id)">Editar</ion-item-option>
            <ion-item-option (click)="ELIMINARLOCALES(local.id)" color="danger">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    
        <ion-item *ngIf = "localesList?.length<=0">
          <ion-label>No hay datos registrados</ion-label>
        </ion-item>
      </ion-grid>
    
    
    </ion-content>
    