<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="danger  " class="user-profile">
          <ion-item margin-bottom>
            <ion-avatar slot="start" class="user-avatar">
              <img [src]="imagen">
            </ion-avatar>
            <ion-label>
              <ion-text color="medium">
                <h1><strong>{{nombreu}}</strong></h1>
              </ion-text>
              <ion-menu-toggle class="mto" auto-hide="false">
                <a class="text08" tappable (click)="goToEditProgile()">
                  <ion-text color="medium">
                    <ion-icon name="contact"></ion-icon>
                    <strong>Editar Perfil</strong>
                  </ion-text>
                </a> <!--<ion-text color="secondary"> | </ion-text>--> 
              </ion-menu-toggle>
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content class="bg-profile">
        <ion-list>
          <ion-list-header color="light">
            <ion-label>Menu</ion-label>
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]" color="primary">
              <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
            
          </ion-menu-toggle>
            <ion-item color="primary">
              <ion-icon name="log-out"></ion-icon>
              <a class="text08" tappable (click)="logout()">
                <ion-text color="medium">
                  <strong>Cerrar Sesión</strong>
                </ion-text>
              </a>
            </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
