<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="closeEditi()">
      <ion-icon style="color:#fff; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Editar Vehiculo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!--<form [formGroup]="validations_form2" (ngSubmit)="EDIGUARDAR(validations_form2.value)">
    <ion-row>
      <ion-col size="5">Nombre:</ion-col>
      <ion-col size="7"><ion-input formControlName = "nomvehi2"></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.nomvehi2">
          <div class="error-message" *ngIf="validations_form2.get('nomvehi2').hasError(validation.type) && (validations_form2.get('nomvehi2').dirty || validations_form2.get('nomvehi2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Marca:</ion-col>
      <ion-col size="7"><ion-input formControlName = "marca2" ></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.marca2">
          <div class="error-message" *ngIf="validations_form2.get('marca2').hasError(validation.type) && (validations_form2.get('marca2').dirty || validations_form2.get('marca2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Cilindraje:</ion-col>
      <ion-col size="7"><ion-input formControlName ="cilindraje2" ></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.cilindraje2">
          <div class="error-message" *ngIf="validations_form2.get('cilindraje2').hasError(validation.type) && (validations_form2.get('cilindraje2').dirty || validations_form2.get('cilindraje2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Modelo:</ion-col>
      <ion-col size="7"><ion-input formControlName = "modelo2" ></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.modelo2">
          <div class="error-message" *ngIf="validations_form2.get('modelo2').hasError(validation.type) && (validations_form2.get('modelo2').dirty || validations_form2.get('modelo2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Matricula:</ion-col>
      <ion-col size="7"><ion-input formControlName = "matricula2" ></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matricula2">
          <div class="error-message" *ngIf="validations_form2.get('matricula2').hasError(validation.type) && (validations_form2.get('matricula2').dirty || validations_form2.get('matricula2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Poliza de seguro:</ion-col>
      <ion-col size="7"><ion-input formControlName = "polizaseguro2" ></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.polizaseguro2">
          <div class="error-message" *ngIf="validations_form2.get('polizaseguro2').hasError(validation.type) && (validations_form2.get('polizaseguro2').dirty || validations_form2.get('polizaseguro2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Cambio de aceite (km):</ion-col>
      <ion-col size="7"><ion-input formControlName = "klcambioaceite2" ></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.klcambioaceite2">
          <div class="error-message" *ngIf="validations_form2.get('klcambioaceite2').hasError(validation.type) && (validations_form2.get('klcambioaceite2').dirty || validations_form2.get('klcambioaceite2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Km:</ion-col>
      <ion-col size="7"> <ion-input formControlName = "klvehiculo2" ></ion-input></ion-col>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.klvehiculo2">
          <div class="error-message" *ngIf="validations_form2.get('klvehiculo2').hasError(validation.type) && (validations_form2.get('klvehiculo2').dirty || validations_form2.get('klvehiculo2').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="5">Gasolina:</ion-col>
      <ion-col size="7">
        <ion-select okText="Ok" formControlName = "gasolina2">
          <ion-select-option  *ngFor ="let gas of gasolina2" value="{{gas.id}}" >{{gas.nombre}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form2.valid">Guardar Edición</ion-button>
    </ion-row>
  </form>-->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
