<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar inventario</ion-title>
  </ion-toolbar>
</ion-header>
  

<ion-content>
  <form [formGroup]="formInventario" (ngSubmit)="GUARDAREDICIONINVENTARIO(formInventario.value)">
    <ion-col size="12"> 
      <ion-item class="item-form">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName = "nombre"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.nombre">
            <div class="error-message" *ngIf="formInventario.get('nombre').hasError(validation.type) && (formInventario.get('nombre').dirty || formInventario.get('nombre').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>
    </ion-col>
    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formInventario.valid">Actualizar</ion-button>
  </form>
</ion-content>
