<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Task</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn btn-success" size="small" shape="round"  (click)="openNuevo()">
        <ion-icon name="add"></ion-icon>
        Nueva Tarea
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications('LISTAPENDIENTES')">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">{{pendientes}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <div class="row">
    <div class="col-md-6 col-sm-6">
      <ion-searchbar primary [(ngModel)]="searchQuery" 
               (keyup)="changeListaTareas()"
               (cancel)="changeListaTareas()"
               show-cancel="true" 
               placeholder="Busqueda (N° o Detalle)">
    </ion-searchbar>
    <!--<ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    </div>
    <div class="col-md-6 col-sm-6">
    <ion-select  placeholder="Usuario"  interface="popover" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="miusuario" (ionChange)="changeListaTareas()" >
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option *ngFor ="let usu of usuarioList" value="{{usu.id}}" >{{usu.literal}}</ion-select-option>
    </ion-select>
    </div>
  </div>
  </ion-toolbar>
</ion-header>

<!--<ion-content>
  <ion-card no-margin class="no-radius">
    <ion-item lines="none" color="medium">
      <ion-label>
        <h2 no-margin class="fw500 no-margin">
          <ion-text color="dark">Alert / Toast test</ion-text>
        </h2>

        <p class="text-11x no-margin">
          <ion-text  color="primary">{{yourLocation}}</ion-text>
        </p>
      </ion-label>
      <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
        Location
        <ion-icon name="locate"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="bg-white">
    <ion-img [src]="themeCover"></ion-img>
    <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
      Modal 1: Modal Image
    </ion-button>
  </ion-card>

  <ion-button margin shape="round" expand="full" color="secondary" (click)="searchFilter()">
    Modal 2: Search Filter
  </ion-button>  
  <popmenu></popmenu>
</ion-content>-->
<ion-content>

<ion-row>
  <ion-col size = "12" (click)="openNuevo()" style="text-align: center">
    <ion-label position="stacked" style = "font-size: 20px; color: #0d9fb8"><b>Mis Tareas</b></ion-label>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size = "4" (click)="listTareas('Solicitadas')" style="text-align: center">
    <ion-label position="stacked" style = "font-size: 20px; color: #1380a7"><b>Solicitadas</b></ion-label>
    <img src='/assets/img/solicitadas3.png' class="cuadrado">
    <ion-label position="stacked" style = "color: #1380a7;" class="lbcont"><b>{{solicitadas}}</b></ion-label>
  </ion-col>
  <ion-col size = "4" (click)="listTareas('Pendientes')" style="text-align: center">
    <ion-label position="stacked" style = "font-size: 20px; color: #e53333"><b>Pendientes</b></ion-label>
    <img src='/assets/img/pendientes3.png' class="cuadrado">
   
    <ion-label position="stacked" style = "color: #e53333;" class="lbcont"><b>{{pendientes}}</b></ion-label>
  </ion-col>
  <ion-col size = "4" (click)="listTareas('3')" style="text-align: center">
    <ion-label position="stacked" style = "font-size: 20px; color: #6a8538"><b>Cerradas</b></ion-label>
    <img src='/assets/img/cerradas3.png' class="cuadrado">
    <ion-label position="stacked" style = "color: #6a8538;" class="lbcont"><b>{{cerradas}}</b></ion-label>
  </ion-col>
</ion-row>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">#</th>
    <th scope="col" sortable="Detalle">Detalle</th>
    <th scope="col" sortable="Solucion">Solución</th>
    <th scope="col" sortable="Creacion" >Creación</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let task of listatareas$;let index = i" >
    <td [ngStyle]="{'background-color': task.color }">
      <div class="btn-group" ngbDropdown role="group" aria-label="Boton de grupo de acciones">
        <button class="btn btn-outline-default" ngbDropdownToggle><ion-icon name="more"></ion-icon></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="btn-block text-left" *ngIf = "task.Estado!=3" ngbDropdownItem (click)="openSolucionar(task.Id, index)"><ion-icon name="checkmark"></ion-icon>Solucionar</button>
          <button class="btn-block text-left" ngbDropdownItem  (click)="notifications('VERSOLUCION',task.Id)"><ion-icon name="eye"></ion-icon>Ver Soluciones</button>
          <button class="btn-block text-left" *ngIf = "task.Acciones==2" ngbDropdownItem (click)="execTask(task.Id, index)"><ion-icon name="done-all"></ion-icon>Ejecutar</button>
          <button class="btn-block text-left" *ngIf = "task.Acciones==1" ngbDropdownItem (click)="archTask(task.Id, index)"><ion-icon name="archive"></ion-icon>Archivar</button>
          <button class="btn-block text-left" *ngIf = "task.Env==1" ngbDropdownItem (click)="openRecordatorio(task.Id, index)"><ion-icon name="alarm"  class= "icon-form"></ion-icon>Recordatorio</button>
          <button class="btn-block text-left" *ngIf = "task.Env==2"  ngbDropdownItem (click)="notifications('VERRECORDATORIO',task.Id)"><ion-icon name="alarm"  class= "icon-form"></ion-icon>Ver Recordatorio</button>
          <button class="btn-block text-left" *ngIf = "task.Env==3"  ngbDropdownItem (click)="rechazarTask(task.Id, index)"><ion-icon name="alarm"  class= "icon-form"></ion-icon>Rechazar</button>
          <button class="btn-block text-left" *ngIf = "task.Acciones==3" ngbDropdownItem  (click)="deleteTask(task.Id, index)"><ion-icon name="trash" class= "icon-form"></ion-icon>Eliminar</button>
        </div>
      </div>
    </td>
    <th scope="row" [ngStyle]="{'background-color': task.color }">
      <ngb-highlight [result]="task.Id"></ngb-highlight>
      <!--{{ task.Id }}--></th>
    <td class="dt1" [ngStyle]="{'background-color': task.color }" (click)="notifications('VERDETALLE',task.Id)">{{ task.Detalle }}</td>
    <td class="dt1"  [ngStyle]="{'background-color': task.color }" (click)="notifications('VERSOLUCION',task.Id)">{{ task.Solucion }}</td>
    <td [ngStyle]="{'background-color': task.color }" (click)="notifications('VERFECHA',task.Id)">{{ task.Creacion  | date:'yyyy/MM/dd' }}</td>
    
  </tr>
  <tr *ngIf = "listatareas$?.length<=0">
    <td colspan="4">No hay datos registrados</td>
  </tr>
  </tbody>
</table>

</ion-content>
  