:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}
.selvehiculo
{
  background-color: white;
}

.imagen1 {
    width: 80px;
    height: 80px;
    margin: 20px auto 8px;
    background: url("/assets/img/iconcl.png") no-repeat;
    background-size: 100%;
  }

  .imagen2 {
    width: 80px;
    height: 80px;
    margin: 20px auto 8px;
    background: url("/assets/img/icongs.png") no-repeat;
    background-size: 100%;
  }

  .imagen3 {
    width: 80px;
    height: 80px;
    margin: 20px auto 8px;
    background: url("/assets/img/iconiv.png") no-repeat;
    background-size: 100%;
  }

  .imagen4 {
    width: 80px;
    height: 80px;
    margin: 20px auto 8px;
    background: url("/assets/img/iconvh.png") no-repeat;
    background-size: 100%;
  }
  .cuadrado{
    /*background-color: #808e9b;*/
    padding: 10px;
    border-radius: 10px;
  }

  .dt1
  {
    max-height: 30px !important;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }

 