.social-facebook{
    --background : #3b5998;
}
.social-google{
    --background : #dd4b39;
}
.social-twitter{
    --background : #55acee;
}

:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-danger), var(--ion-color-primary));
    }
}

.paz {
    position: relative;
    z-index: 10;
}
