<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar gasolinera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGasolinera" (ngSubmit)="GUARDAREDITGASOLINERA(formGasolinera.value)"> 
    <ion-row>
      <ion-col size = "12">
      <ion-item class="item-form">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName =  "Nombre"></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.Nombre">
            <div class="error-message" *ngIf="formGasolinera.get('Nombre').hasError(validation.type) && (formGasolinera.get('Nombre').dirty || formGasolinera.get('Nombre').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>
      <ion-item class="item-form">
        <ion-label  position="floating">Ubicacion</ion-label>
        <ion-input formControlName =  "Ubicacion" ></ion-input>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.Ubicacion">
            <div class="error-message" *ngIf="formGasolinera.get('Ubicacion').hasError(validation.type) && (formGasolinera.get('Ubicacion').dirty || formGasolinera.get('Ubicacion').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-item>

      
    </ion-col>
  </ion-row>
    
    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formGasolinera.valid">Actualizar</ion-button>
  </form>
</ion-content>
