<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="closeCombustible()">
      <ion-icon style="color:#000; font-size: 25px" name="arrow-round-back"></ion-icon>
    </ion-button>
    <ion-title>Actualizar Combustible</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formcombustible" (ngSubmit)="GUARDAREDITCOM(formcombustible.value)">
    <ion-row>
    <ion-col size="12">
      <ion-item class="item-form">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName = "Nombre" ></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.Nombre">
          <div class="error-message" *ngIf="formcombustible.get('Nombre').hasError(validation.type) && (formcombustible.get('Nombre').dirty || formcombustible.get('Nombre').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>  
    </ion-col>
    </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formcombustible.valid">Actualizar</ion-button>
 </ion-col>
 
  </ion-row>
</form>
</ion-content>
