<!--<ng-template #modalnuevo let-modal>-->
  <form [formGroup]="formNuevo" (ngSubmit)="GUARDARTASK(formNuevo.value)">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Creación nueva tarea</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
      <ion-row><!--Nota-->
       
        <ion-col size="12">
          <ion-item class="item-form">
            <ion-label  position="floating">Detalle:</ion-label>
            <ion-textarea formControlName = "Detalle" [ngStyle]="{ 'white-space': 'pre-wrap' }"></ion-textarea>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Detalle">
                <div class="error-message" *ngIf="formNuevo.get('Detalle').hasError(validation.type) && (formNuevo.get('Detalle').dirty || formNuevo.get('Detalle').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row><!--Gasolina-->
        <ion-col size = "12">
          <ion-label  position="floating">Seleccionar a quien se le asignara la tarea:</ion-label>
          <ng-select class="form-control" appendTo="body" placeholder="" formControlName = "Asignar">
            <ng-option *ngFor="let usu of usuarioAsig" [value]="usu.id">{{usu.literal}}</ng-option>
          </ng-select>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Asignar">
              <div class="error-message" *ngIf="formNuevo.get('Asignar').hasError(validation.type) && (formNuevo.get('Asignar').dirty || formNuevo.get('Asignar').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>        
        </ion-col>
      </ion-row>
      
      
      <!--<div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>-->
   
  </div>
  <div class="modal-footer">
  
    <button type="submit" class="btn btn-primary"  [disabled]="!formNuevo.valid">Enviar</button>
    <button type="submit" class="btn btn-danger" (click)="activeModal.close('Ok click')">Cancelar</button>
  </div>
</form>
<!--</ng-template>
<hr>
<pre>{{ closeResult }}</pre>-->