
  <ion-list no-padding no-margin *ngFor ="let list of listDetalle$; let i = index;" >
    <ion-item color="primary" class="text-10"  [ngStyle]="{'background-color': list.color }" >
      <!--<ion-icon name="mail" color="light"></ion-icon>-->
      <!--<ion-icon class="icon-detalle" tappable (click)="verAlerta(i)"  name="mail"  *ngIf="!list.open"></ion-icon>
      <ion-icon class="icon-detalle" tappable (click)="verAlerta(i)"  name="mail-open"  *ngIf="list.open"></ion-icon>-->
      <ion-label class="fw700" *ngIf="list.Id!=''">{{list.Id}}</ion-label>
      <ion-label>{{list.Detalle}}</ion-label>
    </ion-item>
  <!--
    <ion-item color="light" >
      <ion-label>{{list.tipo}}</ion-label>
    </ion-item>
    <ion-item color="light" >
      <ion-label>Fecha: </ion-label>
    </ion-item>
  -->
    <!--<ion-card-content *ngIf="list.open">
      <ion-label>{{list.Tipo}}</ion-label>
      <div >
        <span *ngIf="list.Repetir==1">Repetir solo una ves</span><br *ngIf="list.Repetir==1">
        <span *ngIf="list.Fecha1">El día {{list.Fecha | date: "d MMM 'de' y"}}</span><br *ngIf="list.Fecha1">
        <span *ngIf="list.Km && list.Repetir==1">A los {{list.Kmetro}} (Horas)</span><br *ngIf="list.Km && list.Repetir==1">
      </div>

      <div *ngIf="list.Repetir==2">
        <span *ngIf="list.Repetir==2">Repetir cada </span>
        <span *ngIf="list.Km && list.Repetir==2"> {{list.Kmetro}} (Horas)</span>
        <span *ngIf="list.Mes!=''">{{list.Mes}} mes(es)</span>
      </div>

      <div>
        <ion-button class= "button-detalle"  size="small" fill = "outline" (click)= "RECORDATORIOREALIZADO(list.idvehi, list.idcategoria, list.idtipo, list.Tipo, list.Kmetro, list.fecha, list.Id,list.Repetir,list.Mes, list.Idnotificacion )"><ion-icon name="checkbox-outline"></ion-icon></ion-button>
        <ion-button class= "button-detalle"  size="small" fill = "outline" (click)= "ELIMINARECORDATORIO(list.Id)"><ion-icon name="ios-trash"></ion-icon></ion-button>
      </div>
      
    </ion-card-content>-->
  </ion-list>
  <ion-list *ngIf="listDetalle$?.length<=0">
    <ion-item><ion-label>No se encontro información</ion-label></ion-item>
  </ion-list>

