
 /* -------------------------------- 
Paddings and margins
-------------------------------- */

.marginBottom0 {
    margin-bottom: 0;
  }
  .marginTop0 {
    margin-top: 0;
  }
  .marginTop5 {
    margin-top: 5px !important;
  }
  /* -------------------------------- 
  
  Modules - reusable parts of our design
  
  -------------------------------- */
  .cd-container {
    /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
  }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
  
  /* -------------------------------- 
  
  Main components 
  
  -------------------------------- */
  ion-icon {
    width: 20px !important;
    height: 20px !important;
    font-size: 25px;
  }
  .cd-author {
    color:gray;
  }
  #cd-timeline {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0px !important;
  }
  
  .cd-timeline-block {
    position: relative;
    margin: 0 0;
  }
  .cd-timeline-date {
    position: relative;
    margin: 0 0;
    height: 40px;
  }
  .cd-timeline-date:before {
    content: '.';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 5px;
    background: #ffffff;
  }
  .cd-timeline-date:after {
    content: "";
    display: table;
    clear: both;
  }

  .cd-timeline-icon-date {
    position: absolute;
    top: 0;
    left: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: #ff0000;
    border-style: solid;
    border-width: 2px;/*bordel circulo icono*/
    padding-top:3px;
    padding-left:3px;
    background: rgb(255, 0, 0);
  }

  .cd-timeline-content-date {
    position: relative;
    margin-left: 50px;
    background: white;
    border-radius: 0.8em;
    border-color: rgb(243, 243, 250);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
  }

  .cd-timeline-content-date p {
    margin: 0em 0;
    line-height: 1.6;
  }


  .cd-timeline-block:before {
    content: '.';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width:5px;
    background: #ffffff;
  }
  .cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;    
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  
  .cd-timeline-last-block {
    position: relative;
    margin: 0 0;
  }
  .cd-timeline-last-block:after {
    content: "";
    display: table;
    clear: both;
  }

  .cd-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #4a87ee;
    border-style: solid;
    border-width: 2px;/*bordel circulo icono*/
    padding-top:8px;
    padding-left:8px;
    background: white;
  }
  .cd-timeline-icon i {
    color: #000000;
  }
  .cd-timeline-picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: #4a87ee;
    border-style: solid;
    border-width: 2px;
    background: white;
  }
  .cd-timeline-picture img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
  }
  
  .cd-timeline-content {
    position: relative;
    margin-left: 50px;
    background: white;
    border-radius: 0.8em;
    border-color: rgb(243, 243, 250);
    border-style: solid;
    border-width: 2px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow:0 3px 0 #d7e4ed;
  }

  .cd-timeline-detalle{
    color:white;
    position: relative;
    top:-20px;
    margin-left: 50px;
    background: rgba(0, 0, 0,.8);
    border-color: rgb(0, 0, 0,.8);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow:0 3px 0 #d7e4ed;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    h6{
      margin-top: 2px;
      margin-bottom: 0px;
    }
  }
  .cd-count-detalle{
    color:#4a87ee;
  }
  .cd-list-detalle{
    font-size: 11px;
  }
  
  
  .cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-timeline-content h2 {
    color: #303e49;
  }
  .cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 13px;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
  }
  .cd-timeline-content p {
    margin: 0.2em 0;
    line-height: 1.6;
  }
  
  .cd-timeline-content::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 0;
    width: 0;
    top:10px;
    border: 7px solid transparent;
    border-right: 7px solid white;
    border-right-color: inherit;
  }
  
  .timelineText {
   
    color: black;
  }
  
  /*COLORS*/
  /*POSITIVE*/
  .positive {
    border-color: #ffffff;
  }
  .positive i {
    color: #4a87ee;
  }
  /*CALM*/
  .calm {
    border-color: #43cee6;
  }
  .calm i {
    color: #43cee6;
  }
  /*BALANCED*/
  .balanced {
    border-color: #66cc33;
  }
  .balanced i {
    color: #66cc33;
  }
  /*ENERGIZED*/
  .energized {
    border-color: #f0b840;
  }
  .energized i {
    color: #f0b840;
  }
  /*ASSERTIVE*/
  .assertive {
    border-color: #ef4e3a;
  }
  .assertive i {
    color: #ef4e3a;
  }
  /*ROYAL*/
  .royal {
    border-color: #8a6de9;
  }
  .assertive i {
    color: #8a6de9;
  }
  /*DARK*/
  .dark {
    border-color: #444;
  }
  .dark i {
    color: #444;
  }
  
  @media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }
    .cd-timeline-content p {
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }

  .selvehiculo
  {
    background-color: white;
  }
  