<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding fullscreen>
    <!--section id="cd-timeline" >
        <div *ngFor="let log of logs; let last = last; let first = first" class="cd-container">
          <div [class]="last?'cd-timeline-last-block':'cd-timeline-block'">
            <div [class]="log.color1">
              <ion-icon [name]="last?'create':'calendar'"  [color]="first? 'secondary':'primary'"></ion-icon>
            </div>
            <div class="cd-timeline-content positive">
              <h5 class="marginBottom0 marginTop0" ion-text >{{log.title}}</h5>
              <p class="marginTop5 cd-author">by {{log.author}} on {{log.time | date: "d MMM 'de' y"}}</p>
              <p class="timelineText" ion-text>{{log.text}}</p>
            </div>
          </div>
        </div>
      </section>-->
      <ion-row class="selvehiculo">
        <ion-col size="8">
          <ion-select placeholder="Vehiculo"  interface="popover" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="mivehiculo" (ionChange)="changeVehiculo()" >
              <ion-select-option *ngFor ="let veh of vehiculoList" value="{{veh.id}}" >{{veh.marca}} {{veh.modelo}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="4">
          <ion-select placeholder="Año" interface="popover" cancelText="Cancelar" okText="Aceptar" >
            
          </ion-select>
        </ion-col>
      </ion-row>
      <section id="cd-timeline" >
          <div *ngFor="let reg of registroList; let i = index; let last = last; let first = first" class="cd-container">
              <div class="cd-timeline-date">
                <div class="cd-timeline-icon-date">
                    <ion-icon name="calendar"  color="white"></ion-icon>
                </div>
                <div class="cd-timeline-content-date">
                    <p class="cd-date">{{reg.fecha | date: "d MMM 'de' y"}}</p>
                </div>
              </div>
              
            <div [class]="last?'cd-timeline-last-block':'cd-timeline-block'" tappable (click)="toggleSection(i)">
              
                
              <div class="cd-timeline-icon energized">
                <ion-icon name="cash"  [color]="first? 'secondary':'primary'"></ion-icon>
              </div>
              <div class="cd-timeline-content positive">
                <h5 class="marginBottom0 marginTop0" ion-text >{{ reg.categoria }} <span *ngIf="!reg.open" class="cd-count-detalle">(+{{reg.detalle.length }})</span></h5>
                <p class="marginTop5 cd-author">{{reg.fecha | date: "d MMM 'de' y"}}</p>
                <p class="timelineText" ion-text>{{reg.nota}}</p>
              </div>
              <!--Detalle del registro reg.detalle && -->
                
            </div>
            <div *ngIf="reg.open" class="cd-timeline-detalle">
                  <h6>Detalle:</h6>
                  <ion-grid >                    
                      <ion-row *ngFor="let child of reg.detalle; let j = index;" lines="none"  class="cd-list-detalle">
                        <ion-col size="7">{{child.nombre}}</ion-col>
                        <ion-col size="5" class="text-right">{{child.valor | currency:'$ ':'symbol' }}</ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="5" offset="7" style="text-align: right">
                          <ion-button class="button-form" (click)="ELIMINARREGISTRO(reg.id)">
                            <ion-icon class="icon-form-home"  name="trash" color="danger"></ion-icon>
                          </ion-button>
                          <ion-button class="button-form" [routerLink]="['/actualizar-registro', reg.id]">
                            <ion-icon class="icon-form-home" name="create" color="secondary" ></ion-icon>
                          </ion-button>
                          <ion-button class="button-form">
                            <ion-icon class="icon-form-home" name="eye" color="dark"></ion-icon>
                          </ion-button>
                          
                          
                        </ion-col>
                      </ion-row>
                  </ion-grid>
                  
                </div>
          </div>
        </section>
        <ion-list *ngIf="registroList?.length<=0">
          <ion-item><ion-label>No se encontraro datos </ion-label></ion-item>
        </ion-list>
</ion-content>
