<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
      Abastecimiento
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <br>
  <ion-row>
    <ion-col>
      <ion-segment (ionChange)="segmentChanged($event)" name = "escoger" [(ngModel)]="escoger" >
        <ion-segment-button value="nuevo">
          <ion-label>Nuevo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="lista">
          <ion-label>Listar</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-grid *ngIf="ocultar1">
    <form [formGroup]="formAbas" (ngSubmit)="GUARDARABASTE(formAbas.value)">

      <ion-row><!--Fecha y hora-->
        <ion-col size= "1">
          <br>
          <ion-icon ios="ios-calendar" class= "icon-form" md="md-calendar"></ion-icon>
        </ion-col>
        <ion-col size= "6">
          <ion-item class="item-form">
            <ion-label position="floating">Fecha</ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" formControlName = "Fecha"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Fecha">
              <div class="error-message" *ngIf="formAbas.get('Fecha').hasError(validation.type) && (formAbas.get('Fecha').dirty || formAbas.get('Fecha').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
        <ion-col size= "5">
          <ion-item class="item-form">
            <ion-label position="floating">Hora</ion-label>
            <ion-datetime displayFormat="HH:mm" formControlName = "Hora" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.Hora">
              <div class="error-message" *ngIf="formAbas.get('Hora').hasError(validation.type) && (formAbas.get('Hora').dirty || formAbas.get('Hora').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col> 
      </ion-row>
      
      <ion-row><!--kilometro-->
        <ion-col size="1">
          <br>
          <ion-icon class= "icon-form" name="speedometer"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-item class="item-form">
              <ion-label position="floating">Kilometro</ion-label>
              <ion-input formControlName = "Kilometro" type = "number"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Kilometro">
                  <div class="error-message" *ngIf="formAbas.get('Kilometro').hasError(validation.type) && (formAbas.get('Kilometro').dirty || formAbas.get('Kilometro').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row><!--Gasolina-->
        <ion-col size = "1">
          <br>
          <ion-icon name="water" class= "icon-form"></ion-icon>
        </ion-col>
        <ion-col size = "11">
          <ion-item class="item-form">
              <ion-label position="floating">Gasolina</ion-label>
              <ion-select cancelText="Cancelar" okText="Aceptar" formControlName = "Gasolina">
                <ion-select-option  *ngFor ="let gas of lisgasoli" value="{{gas.id}}" >{{gas.nombre}}</ion-select-option>
              </ion-select>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Gasolina">
                  <div class="error-message" *ngIf="formAbas.get('Gasolina').hasError(validation.type) && (formAbas.get('Gasolina').dirty || formAbas.get('Gasolina').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row><!--Precio-->
        <ion-col size = "1">
          <br>
          <ion-icon ios="ios-cash" md="md-cash" class= "icon-form"></ion-icon>
        </ion-col>
        <ion-col size = "4">
          <ion-item class="item-form">
            <ion-label  position="floating">Precio</ion-label>
            <ion-input type="number" formControlName = "Precio"></ion-input>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Precio">
                <div class="error-message" *ngIf="formAbas.get('Precio').hasError(validation.type) && (formAbas.get('Precio').dirty || formAbas.get('Precio').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
        <ion-col size = "4">
          <ion-item class="item-form">
              <ion-label  position="floating">Galon</ion-label>
              <ion-input type="number" formControlName = "Galon"></ion-input>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.Galon">
                  <div class="error-message" *ngIf="formAbas.get('Galon').hasError(validation.type) && (formAbas.get('Galon').dirty || formAbas.get('Galon').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </ion-item>
        </ion-col>
        <ion-col size = "3">
          <ion-item class="item-form">
              <ion-label  position="floating">Total</ion-label>
              <ion-input type="number" formControlName = "Total"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row><!--Gazolinera-->
        <ion-col size = "1">
          <br>
          <ion-icon ios="ios-color-fill" md="md-color-fill" class= "icon-form"></ion-icon>
        </ion-col >
        <ion-col size = "11">
          <ion-item class="item-form">
            <ion-label position="floating">Gasolinera</ion-label>
            <ion-select cancelText="Cancelar" okText="Aceptar" formControlName = "Gasolinera">
              <ion-select-option  *ngFor ="let lgas of lislocalgaso" value="{{lgas.id}}" >{{lgas.nombre}}</ion-select-option>
            </ion-select>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Gasolinera">
                <div class="error-message" *ngIf="formAbas.get('Gasolinera').hasError(validation.type) && (formAbas.get('Gasolinera').dirty || formAbas.get('Gasolinera').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row><!--Nota-->
        <ion-col size = "1">
          <ion-icon name="create" class= "icon-form"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-item class="item-form">
            <ion-label  position="floating">Nota</ion-label>
            <ion-textarea formControlName = "Nota"></ion-textarea>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.Nota">
                <div class="error-message" *ngIf="formAbas.get('Nota').hasError(validation.type) && (formAbas.get('Nota').dirty || formAbas.get('Nota').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formAbas.valid">Guardar</ion-button>

    </form>
  </ion-grid>
  
  <ion-grid *ngIf="ocultar2">
    <ion-card *ngFor ="let abaste of abasteList">
      <ion-item-sliding >
          <ion-item >
            <ion-col size ="11">
              Fecha: {{abaste.fecha  | date:'dd/MM/yyyy'}}<br>
              Horas: {{abaste.kilometro}}<br>
              Precio: {{abaste.precio | currency:'$':true:'1.2-2'}}<br>
              Nota: {{abaste.nota}}
            </ion-col>
            <ion-col size="1">
              <ion-icon name="arrow-round-back" style="zoom:2.0;" ></ion-icon>
            </ion-col>
          </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="EDITARABASTE(abaste.id)">Editar</ion-item-option>
          <ion-item-option color="danger" (click)="ELIMINARABASTE(abaste.id)">Eliminar</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

     
    </ion-card> 
      <ion-list *ngIf="abasteList?.length<=0">
        <ion-item><ion-label>No se encontraro datos</ion-label></ion-item>
      </ion-list>
  </ion-grid>

</ion-content>
