<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Almacén</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <!--<ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>-->
    <ion-select placeholder="Vehiculo"  interface="popover" cancelText="Cancelar" okText="Aceptar" [(ngModel)]="mivehiculo" (ionChange)="changeVehiculo()" >
      <ion-select-option *ngFor ="let veh of vehiculoList" value="{{veh.id}}" >{{veh.marca}} {{veh.modelo}}</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>
<br>

  <ion-content fullscreen>

      <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
        <!--<ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>-->
        <ion-fab-button   color="light"  (click) = "segmentChanged('nuevo')"  *ngIf="ocultar2" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button  color="light"  (click) = "segmentChanged('lista')"  *ngIf="ocultar1">
          <ion-icon name="list"></ion-icon>
        </ion-fab-button>
        <!--<ion-fab-list>
          <ion-fab-button   color="light"  (click) = "segmentChanged('nuevo')"  >
            <ion-icon name="globe"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>-->
      </ion-fab>

      <ion-grid *ngIf="ocultar1">

        <form [formGroup]="formInventario" (ngSubmit)="GUARDARINVENTARIO(formInventario.value)">

          <ion-row><!--Fecha-->
            <ion-col size = '1'>
              <br>
              <ion-icon ios="ios-calendar" md="md-calendar" class="icon-form"></ion-icon>
            </ion-col>
            <ion-col size = '11'>
              <ion-item class="item-form">
                <ion-label  position="floating">Fecha</ion-label>
                <ion-datetime displayFormat="DD-MM-YYYY" formControlName = "fecha" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
                
              </ion-item> 
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.fecha">
                    <div class="error-message" *ngIf="formInventario.get('fecha').hasError(validation.type) && (formInventario.get('fecha').dirty || formInventario.get('fecha').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
            </ion-col>
          </ion-row>

          <ion-row><!--Nombre-->
            <ion-col size = '1'>
            </ion-col>
            <ion-col size="11"> 
              <ion-item class="item-form">
                <ion-label position="floating">Nombre del articulo</ion-label>
                <ion-input formControlName = "nombre"></ion-input>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.nombre">
                    <div class="error-message" *ngIf="formInventario.get('nombre').hasError(validation.type) && (formInventario.get('nombre').dirty || formInventario.get('nombre').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row><!--Cantidad-->
            <ion-col size = '1'>
              <br>
              <ion-icon ios="ios-calculator" md="md-calculator" class="icon-form"></ion-icon>
            </ion-col>
            <ion-col size = '11'>
              <ion-item class="item-form">
                <ion-label  position="floating">Cantidad</ion-label>
                <ion-input type="number" formControlName = "cantidad"></ion-input>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.cantidad">
                    <div class="error-message" *ngIf="formInventario.get('cantidad').hasError(validation.type) && (formInventario.get('cantidad').dirty || formInventario.get('cantidad').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div> 
              </ion-item>

            </ion-col>
          </ion-row>

          <ion-row><!--Valor-->
            <ion-col size = '1'>
              <br>
              <ion-icon ios="logo-usd" md="logo-usd" class="icon-form"></ion-icon>
            </ion-col>
            <ion-col size = '11'>
              <ion-item class="item-form">
                <ion-label  position="floating">Valor</ion-label>
                <ion-input type="number" formControlName = "valor"></ion-input>  
      
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.valor">
                    <div class="error-message" *ngIf="formInventario.get('valor').hasError(validation.type) && (formInventario.get('valor').dirty || formInventario.get('valor').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                    </div>
                  </ng-container>
                </div>          
              </ion-item>
            </ion-col>  
          </ion-row>

          <ion-row><!--Marca-->
            <ion-col size = '1'>
              <br>
              <ion-icon ios="ios-globe" md="md-globe" class="icon-form"></ion-icon>
            </ion-col>
            <ion-col size = '11'>
              <ion-item class="item-form">
                <ion-label  position="floating">Marca</ion-label>
                <ion-input type="text" formControlName = "marca"></ion-input>
              </ion-item> 
            </ion-col>
          </ion-row>
      
          <ion-row><!--Almacen-->
            <ion-col size = '1'>
              <br>
              <ion-icon name="business" class="icon-form"></ion-icon>
            </ion-col>
            <ion-col size = '11'>
              <ion-item class="item-form">
                <ion-label  position="floating">Almacen de compra</ion-label>
                <ion-input type="text" formControlName = "almacen"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
      
          <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!formInventario.valid">Guardar</ion-button>

        </form>
      </ion-grid>
      <ion-row *ngIf="ocultar2">
        <ion-col>
          <ion-card *ngFor ="let inven of inveLis">
            <ion-item-sliding>
              <ion-item>
                <ion-col size="7">
                  <ion-card-title>{{inven.nombre}}</ion-card-title>
                  Disponible: {{inven.disponible}} <br>
                  <!--Cantidad entrada: {{inven.entradas}} <br>
                  Cantidad salida: {{inven.salidas}}-->
                </ion-col>
                <ion-col size="5">
                    <ion-button (click)="REGISTARENTRADA(inven.id, inven.salidas, inven.entradas)" ><ion-icon name="cloud-upload"></ion-icon></ion-button>
                    <ion-button (click)="REGISTRARSALIDA(inven.id, inven.disponible)" ><ion-icon name="cloud-download"></ion-icon></ion-button>
                    <ion-button (click)="EDITARINVENTARIO(inven.id, inven.disponible)" ><ion-icon name="create"></ion-icon></ion-button>
                    <ion-button (click)="ELIMINARARTICULO(inven.id)" ><ion-icon name="trash"></ion-icon></ion-button>
                </ion-col>
              </ion-item>
              <ion-item-options side="end">
              </ion-item-options>
            </ion-item-sliding>
          </ion-card>

          <ion-item *ngIf = "inveLis?.length<=0">
            <ion-label>No hay datos registrados</ion-label>
          </ion-item>
          
        </ion-col>
       <!-- <ion-row>
          <ion-col size ="12">
              <ion-button color="success"><ion-icon name="paper-plane"></ion-icon>Exportar inventario</ion-button>
          </ion-col>
        </ion-row>-->
      </ion-row>

    </ion-content>
    
    
