<!--<ion-header translucent="true" no-border>
    <ion-toolbar>
      <ion-title text-center>Log In</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding fullscreen class="form-content"> 
      <div>
          <ion-row no-padding>
            <ion-col size="6" offset="3" offset-md = "3"  size-md= "6" style="text-align: center">
                <img class="img-icon" src="assets/icon/icon.png" alt="" tappable (click)="openPreview('assets/icon/icon.png')"/>
            </ion-col>
          </ion-row>
      </div>     

      <form [formGroup]="validations_login"  (ngSubmit)="onSubmitLogin(validations_login.value)">
      <ion-item class="item-form">
        <ion-label position="floating" > Correo electrónico</ion-label>
        
        <ion-input type="text" formControlName="email"></ion-input>
        
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_login.get('email').hasError(validation.type) && (validations_login.get('email').dirty || validations_login.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <div formGroupName="matching_passwords">
        <ion-item class="item-form">
          <ion-label position="floating" > Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validations_login.get('matching_passwords').get('password').hasError(validation.type) && (validations_login.get('matching_passwords').get('password').dirty || validations_login.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
    </div>
      
      <ion-button color="primary" class="submit-btn" expand="full" type="submit">Entrar</ion-button>
      </form>
  <br>
  <p class="item-cuenta" text-center routerLink="/register">No tienes cuenta aún? <ion-label color="primary">crea una cuenta</ion-label></p>
  
  </ion-content>
-->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form" (ngSubmit)="onSubmitLogin(onLoginForm.value)">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Usuario:
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors text08">
          <ng-container *ngFor="let validation of validation_messages.email">
            <ion-text color="warning"  *ngIf="onLoginForm.get('email').hasError(validation.type) && (onLoginForm.get('email').dirty || onLoginForm.get('email').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
      </div>
      <div formGroupName="matching_passwords">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon name="lock" item-start></ion-icon>
            Contraseña:
          </ion-label>
          <ion-input color="secondary" type="password" formControlName="password"></ion-input>
        </ion-item>       
        <div class="validation-errors text08">
          <ng-container *ngFor="let validation of validation_messages.password">
            <ion-text color="warning"  *ngIf="onLoginForm.get('matching_passwords').get('password').hasError(validation.type) && (onLoginForm.get('matching_passwords').get('password').dirty || onLoginForm.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </ion-text>
          </ng-container>
        </div>
    </div>   

    <p text-right tappable (click)="forgotPass()" class="paz">
      <ion-text color="light">
        <strong>Olvidó contraseña?</strong>
      </ion-text>
    </p>

    <div>
      <ion-button type="submit" icon-left size="medium" expand="full" shape="round" color="dark" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Iniciar
      </ion-button>

     <!-- <p text-center>
        <ion-text color="light">
          O inicie sesión con:
        </ion-text>
      </p>

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>-->

    </div>
  </form>

    <!-- Other links -->
    <!--<div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
            ¿Nuevo aquí?  <strong>Regístrate</strong>
        </ion-text>
      </span>
    </div>-->

  </div>
</ion-content>


  
  
  