/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*
$SIDEMENU_TOP:#3102fa;
$SIDEMENU_BOTTOM:#3102fa;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);


ion-content
{
--background: url('./assets/img/fondoazul.jpg') 0 0/100% 100% no-repeat;
}


.icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

ion-header {
    --background: rgba(255, 255, 255,1) !important;
    --ion-color-base: transparent !important;
}

ion-toolbar {
    --background: rgba(255, 255, 255,1) !important;
    --ion-color-base: transparent !important;
}

.item-form{
    --background: rgba(255, 255, 255,1);
    box-shadow: 0px 2px 2px rgba(255, 136, 0, 0.59);
    border-radius: 5px;
    margin-top: 10px

}
.item-total{
  --background: rgba(0, 0, 0,0.7);
  box-shadow: 0px 2px 2px rgba(255, 136, 0, 0.59);
  border-radius: 5px;
  margin-top: 5px;
  color:white;
  padding-left: 40px;
  font-weight: bold;
  text-align: right
}
.item-form-detalle{
  --background: #4c8dff;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.59);
  border-radius: 5px;
  margin-top: 3px;
  ion-label{
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
.icon-form
{
 color:#FFF;
 font-size: 18px;
 zoom:1.5
}

.icon-form-home
{
  zoom: 1;
}

.button-form{
  --background:none !important;
  --border-radius: 50% !important;
  --background-focused: #ee7247;
  --background-hover: #e88f71;
  --color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  button{å
    background-color: transparent;
  }
}

.ion-focusable
{
    --highlight-color-valid:rgb(255,136,0)!important
}
.error-message
{
  color: var(--ion-color-danger);
  background-color: rgba(255, 255, 255,.8);
}
.icon-delete, .icon-close
{
  color: var(--ion-color-danger);
  font-weight: bold;
}
.success-message
{
  color: var(--ion-color-success);
}

.go-to-login
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 10px;
  --ion-color-base:white
}

.ion-list-checkbox
{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.img-icon
{
  height: auto;
  width: 200px;
  margin-left: auto;
    margin-right: auto;
}
.img-user
{
  height: 150px;
  width: 150px;
  margin-left: auto;
    margin-right: auto;
}
.btn-edit{
  --background: var(--ion-color-primary)
}
.btn-delete
{
  --background: var(--ion-color-danger)
}
ion-item-option{
  background-color: rgba(0, 0, 0, 0.8);
}

ion-menu{
  ion-toolbar{
    background: -webkit-linear-gradient(top,$SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right,$SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right,$SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(bottom right, $SIDEMENU_TOP,$SIDEMENU_BOTTOM)

  }
  .img-icon-menu{
    width: 50px;
    height: 50px;
  }
}
ion-segment-button{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(250, 112, 0, 0.9);
  margin-right: 3px;
  font-weight: bold;
}
  .segment-button-checked{
    background-color: rgba(255,255,255,.8) !important;
  }ioni


  .section{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .section-active{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    ion-icon{
      color:#000
    }
  }

  .text-right
  {
    text-align: right;
  }

  .item-cuenta
  {
    font-weight: bold;
    ion-label{
      --ion-color-base:rgb(255, 136, 0) !important; 
    }

  }*/
  ion-item {
    --ion-item-background: transparent;
}

// backgrounds //
.bg-white {
  background-color: #fff;
}
  
  .bg-light {
    background-color: var(--ion-color-light);
  }
  
  .bg-dark {
      background-color: var(--ion-color-dark);
  }
  
  .bg-primary {
      background-color: var(--ion-color-primary);
  }
  
  .bg-secondary {
      background-color: var(--ion-color-secondary);
  }
  
  .bg-tertiary {
      background-color: var(--ion-color-tertiary);
  }
  
  .bg-profile {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
  }
  
  .bg-main {
      background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
  }
  
  // Helpers //
  .w100 {
    width: 100%;
  }
  
  .bold,
  .fw500 {
      font-weight: 500 !important;
  }
  
  .fw700 {
      font-weight: 700 !important;
  }
  
  .text08 {
    font-size: .8rem;
  }
  
  .text1 {
    font-size: 1rem !important;
  }

  .text12 {
    font-size: 1.2rem;
  }

  .text15 {
    font-size: 1.5rem;
  }
  
  .text20 {
    font-size: 2rem;
  }
  
  .text-white {
      color: #fff;
  }
  
  .text-primary {
      color: var(--ion-color-primary);
  }

  .text-secondary {
    color: var(--ion-color-secondary);
}
  
  .text-dark {
    color: var(--ion-color-dark);
  }
  
  // menu //
  // Menu user profile
  ion-toolbar.user-profile {
  
    .user-avatar {
      width: 68px;
      height: 68px;
    }
    .item-inner {
      border-width: 0;
    }
  }
  
  // Custom toolbar (overriding Shadow DOM)
  ion-toolbar {
    &.ion-color-primary {
      --ion-color-base: linear-gradient(90deg, var(--ion-color-danger) 0%, var(--ion-color-success) 20%, var(--ion-color-primary) 40%,var(--ion-color-purple) 60%,var(--ion-color-warning) 80%) !important;
    }
  }
  
  // Android card shadow
  ion-card {
    &.sc-ion-card-md-h {
      box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb),.24);
    }
  }
  
  // style for auth pages
  .auth-page {
    background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  
    .grid {
      padding: 0;
      .col {
        padding: 0;
      }
    }
  
    .btn-group {
      .button-ios,
      .button-md {
        border-radius: 0;
        &:first-of-type {
          border-radius: 2px 0 0 2px;
        }
        &:last-of-type {
          border-radius: 0 2px 2px 0;
        }
      }
    }
  
    .auth-content {
      margin: 0 5%;
  
      .logo {
        width: 150px;
        height: 150px;
        margin: 20px auto 8px;
      
        /*background: url("/assets/img/ionic4start-ico.png") no-repeat;*/
        background: url("/assets/img/iconpm.png") no-repeat;
        background-size: 100%;
      }
  
      .list-form {
        padding: 0;
        margin-bottom: 0;
  
        ion-item {
          background: none;
          padding: 0;
  
          &:first-child {
            border-top: none;
          }
  
          &:after {
            display: none;
          }
  
          ion-label {
            font-size: 1.3em;
            color: var(--ion-color-light);
          }
  
          input {
            color: var(--ion-color-light);
          }
        }
      }
    }
  
  }
  
  // Custom Menu styles (overriding Shadow DOM)
  ion-menu {
    ion-header {
      ion-toolbar {
        &.ion-color-danger {
          --ion-color-base: linear-gradient(135deg, var(--ion-color-danger), var(--ion-color-primary)) !important;
        }
      }
    }
  }
  
  .mto {
    margin-top: 12px;
    ion-icon {
      margin-bottom: -2px;
    }
  }

.error-message
{
  color: var(--ion-color-danger);
  background-color: rgba(255, 255, 255,.8);
}

.success-message
{
  color: var(--ion-color-success);
}

.item-total{
  --background: rgba(0, 0, 0,0.7);
  box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-top: 5px;
  color:white;
  padding-left: 40px;
  font-weight: bold;
  text-align: right
}

.item-form-detalle{
  --background: rgba(164, 186, 199, 0.8);
  box-shadow: 0px 1px 1px rgba(255, 255, 255,1);
  border-radius: 5px;
  margin-top: 3px;
  ion-label{
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

.icon-form-home
{
  zoom: 1;
}

.button-form{
  --background:none !important;
  --border-radius: 50% !important;
  --background-focused: #ee7247;
  --background-hover: #e88f71;
  --color: #ffffff;
  --color-activated: #ffffff;
  --color-focused: #ffffff;
  button{
    background-color: transparent;
  }
}

.icon-delete, .icon-close
{
  color: var(--ion-color-danger);
  font-weight: bold;
}

/* timeline -------------------------------- 
Paddings and margins
-------------------------------- */

.marginBottom0 {
  margin-bottom: 0;
}
.marginTop0 {
  margin-top: 0;
}
.marginTop5 {
  margin-top: 5px !important;
}
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
ion-icon {
  width: 20px !important;
  height: 20px !important;
  font-size: 25px;
}
.cd-author {
  color:gray;
}
#cd-timeline {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0px !important;
}

.cd-timeline-block {
  position: relative;
  margin: 0 0;
}
.cd-timeline-date {
  position: relative;
  margin: 0 0;
  height: 40px;
}
.cd-timeline-date:before {
  content: '.';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 5px;
  background: #ffffff;
}
.cd-timeline-date:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-icon-date {
  position: absolute;
  top: 0;
  left: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: #ff0000;
  border-style: solid;
  border-width: 2px;/*bordel circulo icono*/
  padding-top:3px;
  padding-left:3px;
  background: rgb(255, 0, 0);
}

.cd-timeline-content-date {
  position: relative;
  margin-left: 50px;
  background: white;
  border-radius: 0.8em;
  border-color: rgb(243, 243, 250);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
}

.cd-timeline-content-date p {
  margin: 0em 0;
  line-height: 1.6;
}


.cd-timeline-block:before {
  content: '.';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width:5px;
  background: #ffffff;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;    
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-last-block {
  position: relative;
  margin: 0 0;
}
.cd-timeline-last-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #4a87ee;
  border-style: solid;
  border-width: 2px;/*bordel circulo icono*/
  padding-top:8px;
  padding-left:8px;
  background: white;
}
.cd-timeline-icon i {
  color: #000000;
}
.cd-timeline-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #4a87ee;
  border-style: solid;
  border-width: 2px;
  background: white;
}
.cd-timeline-picture img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
}

.cd-timeline-content {
  position: relative;
  margin-left: 50px;
  background: white;
  border-radius: 0.8em;
  border-color: rgb(243, 243, 250);
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow:0 3px 0 #d7e4ed;
}

.cd-timeline-detalle{
  color:white;
  position: relative;
  top:-20px;
  margin-left: 50px;
  background: rgba(0, 0, 0,.8);
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow:0 3px 0 #d7e4ed;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  h6{
    margin-top: 2px;
    margin-bottom: 0px;
  }
}
.cd-count-detalle{
  color:#4a87ee;
}
.cd-list-detalle{
  font-size: 11px;
}


.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 0.2em 0;
  line-height: 1.6;
}
.lbcont
{
  font-size: 26px; color: #0d9fb8; 
  position:absolute;
  left: 45%;
    top: 40%;
    transform: translate(-45%, -40%);
    -webkit-transform: translate(-45%, -40%);
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  right: 100%;
  height: 0;
  width: 0;
  top:10px;
  border: 7px solid transparent;
  border-right: 7px solid white;
  border-right-color: inherit;
}

.timelineText {
 
  color: black;
}

/*COLORS*/
/*POSITIVE*/
.positive {
  border-color: #ffffff;
}
.positive i {
  color: #4a87ee;
}
/*CALM*/
.calm {
  border-color: #43cee6;
}
.calm i {
  color: #43cee6;
}
/*BALANCED*/
.balanced {
  border-color: #66cc33;
}
.balanced i {
  color: #66cc33;
}
/*ENERGIZED*/
.energized {
  border-color: #f0b840;
}
.energized i {
  color: #f0b840;
}
/*ASSERTIVE*/
.assertive {
  border-color: #ef4e3a;
}
.assertive i {
  color: #ef4e3a;
}
/*ROYAL*/
.royal {
  border-color: #8a6de9;
}
.assertive i {
  color: #8a6de9;
}
/*DARK*/
.dark {
  border-color: #444;
}
.dark i {
  color: #444;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
ng-select{
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option
  {
    background-color: #808e9b !important
  }
  .ng-select .ng-select-container {
      background-color: #fff !important;
      border-radius: 4px;
      border: 1px solid #ccc !important;
      min-height: 36px;
      align-items: center;
  }
}