<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Mis vehiculos</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content fullscreen>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button size="small"  color="light"  (click) = "segmentChanged('nuevo')"  *ngIf="ocultar2" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button  size="small" color="light"  (click) = "segmentChanged('lista')"  *ngIf="ocultar1">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<br>
  <ion-grid *ngIf="ocultar1">          
    <div>
      <ion-row no-padding>
        <ion-col size="6" offset="3" offset-md = "3"  size-md= "6" style="text-align: center">
            <img class="img-user" [src]="image" alt="" lt="" tappable (click)="openPreview(image)" >
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <ion-col size="6" offset="3">
          <ion-button fill="outline" expand="block" size="small" (click)="selectImage()">Cambiar Imagen</ion-button>
        </ion-col>
      </ion-row>
    </div>


    <form [formGroup]="validations_form" (ngSubmit)="GUARDARVEHICULO(validations_form.value)">


      <ion-row><!--Tipo-->
        <ion-col size= "1">

        </ion-col>
        <ion-col size= "11">
          <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select placeholder="Select One" formControlName = "tipo" disabled>
              <ion-select-option value="m" >Moto</ion-select-option>
              <ion-select-option value="c">Carro</ion-select-option>
            </ion-select>
          </ion-item>
          
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.nomvehi">
              <div class="error-message" *ngIf="validations_form.get('nomvehi').hasError(validation.type) && (validations_form.get('nomvehi').dirty || validations_form.get('nomvehi').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>

      </ion-row>

      <ion-row><!--Marca-->
        <ion-col size= "1">
          <br>
          <ion-icon name="leaf" class="icon-form"></ion-icon>
        </ion-col>
        <ion-col size= "11">
          <ion-item class="item-form">
            <ion-label position="floating">Marca</ion-label>
            <ion-input formControlName = "marca"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row><!--Modelo-->
        <ion-col size="1">
          <br>
          <ion-icon ios="ios-calendar" md="md-calendar" class="icon-form"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-item class="item-form">
            <ion-label position="floating">Modelo</ion-label>
            <ion-datetime displayFormat="YYYY" [min]="anomin" [max]="anomax" formControlName = "modelo" cancel-text = "Cancelar" done-text = "Aceptar"></ion-datetime>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.modelo">
              <div class="error-message" *ngIf="validations_form.get('modelo').hasError(validation.type) && (validations_form.get('modelo').dirty || validations_form.get('modelo').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row><!--Cilindraje-->
        <ion-col size= "1">
          <br>
          <ion-icon name="speedometer" class="icon-form"></ion-icon>
        </ion-col>
        <ion-col size= "11">
          <ion-item class="item-form">
            <ion-label position="floating">Cilindraje</ion-label>
            <ion-input formControlName ="cilindraje" type="text" mask = "0000000"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.cilindraje">
              <div class="error-message" *ngIf="validations_form.get('cilindraje').hasError(validation.type) && (validations_form.get('cilindraje').dirty || validations_form.get('cilindraje').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      
      <ion-row><!--Km-->
        <ion-col size="1">
          <br>
          <ion-icon class="icon-form" name="timer"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-item class="item-form">
            <ion-label position="floating">Horas</ion-label>
            <ion-input formControlName = "klvehiculo" type="text" mask = "00.000.000-99"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--<ion-row>Cambio de aceite (km)
        <ion-col size="1">
          <br>
          <ion-icon name="funnel" class= "icon-form"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-item class="item-form">
            <ion-label position="floating">Cambio de aceite (km)</ion-label>
            <ion-input formControlName = "klcambioaceite" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>-->

      <ion-row><!--Mas info-->
        <ion-col size="12">
          <ion-card>
            <ion-item class="activated">
              <ion-icon (click)= "masinfo(false,true)"  name="add" slot="start" *ngIf="info1"></ion-icon>
              <ion-icon (click)= "masinfo(true,false)" name="remove-circle" slot="start" *ngIf="info2"></ion-icon>
              <ion-label>Mas info</ion-label>
            </ion-item>
            <ion-card-content *ngIf="info2">
              <ion-row><!--Placa-->
                <ion-col size= "1">
        
                </ion-col>
                <ion-col size= "11">
                  <ion-item class="item-form">
                    <ion-label position="floating">Placa</ion-label>
                    <ion-input formControlName ="placa"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row><!--Nombre-->
                <ion-col size= "1">
        
                </ion-col>
                <ion-col size= "11">
                  <ion-item class="item-form">
                    <ion-label position="floating">Nombre personalizado</ion-label>
                    <ion-input formControlName ="nomvehi"></ion-input>
                  </ion-item>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.nomvehi">
                      <div class="error-message" *ngIf="validations_form.get('nomvehi').hasError(validation.type) && (validations_form.get('nomvehi').dirty || validations_form.get('nomvehi').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>

              <ion-row><!--Matricula-->
                <ion-col size="1">
                  <br>
                  <ion-icon name="card" class="icon-form"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <ion-item class="item-form">
                    <ion-label position="floating">Matricula</ion-label>
                    <ion-input formControlName = "matricula"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
        
             <!-- <ion-row>Poliza de seguro
                <ion-col size="1">
                  <br>
                  <ion-icon name="medkit" class="icon-form"></ion-icon>
                </ion-col>
                <ion-col size="11">
                  <ion-item class="item-form">
                    <ion-label position="floating">Poliza de seguro</ion-label>
                    <ion-input formControlName = "polizaseguro"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>-->
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Guardar</ion-button>
    </form>
  </ion-grid>

  <div *ngIf="ocultar2">    
    <ion-card *ngFor ="let vehi of vehiList; let i = index;" style = "background-color:#e8ebef">
      <ion-row >

        <ion-col size = "1">
          <ion-icon class="icon-detalle" tappable (click)="toggleSection(i)"  name="add"            *ngIf="!vehi.open"></ion-icon>
          <ion-icon class="icon-detalle" tappable (click)="toggleSection(i)"  name="remove-circle"  *ngIf="vehi.open"></ion-icon>
        </ion-col>

        <ion-col size = "3" >
          <img [src]="vehi.imagen" class="img-vehiculo" />
        </ion-col>

        <ion-col size = "6">
          Marca: {{vehi.marca}}<br>
          Modelo: {{vehi.modelo}}<br>
          Nombre: {{vehi.nombre}}<br>
        </ion-col>

        <ion-col size = "2">
          <ion-button class= "button-detalle" (click)="GUARDARVEHICULO1(vehi.id)"  size="small" fill = "outline">
              <ion-icon name="ios-checkmark-circle"></ion-icon>
            </ion-button>
            <ion-button class= "button-detalle" (click)= "EDITARVEHICULO(vehi.placa, vehi.id)"  size="small" fill = "outline" >
              <ion-icon name="ios-brush"></ion-icon>
            </ion-button>
            <ion-button class= "button-detalle" (click)= "ELIMINARVEHICULO(vehi.id)"  size="small" fill = "outline" >
              <ion-icon name="ios-trash"></ion-icon>
            </ion-button>
        </ion-col>
      </ion-row>

      <ion-card-content *ngIf="vehi.open">
        <ion-list>
          <ion-item >
            <ion-label>Placa: {{vehi.placa}}</ion-label><br>
          </ion-item>
          <ion-item >
            <ion-label><ion-icon name="speedometer" class="icon-form" item-star></ion-icon>Horas: {{vehi.kmvehiculo}}</ion-label><br>
          </ion-item>
          <!--<ion-item>
            <ion-label><ion-icon name="funnel" class="icon-form" item-star></ion-icon>Cambio de aceite : {{vehi.kmcambioaceite}}</ion-label><br>
          </ion-item>-->
          <ion-item >
            <ion-label><ion-icon name="card" class="icon-form" item-star></ion-icon>Matricula: {{vehi.matricula}}</ion-label>
          </ion-item>
          <!--<ion-item >
            <ion-label><ion-icon name="medkit" class="icon-form" item-star></ion-icon>Poliza de seguro: {{vehi.polizaseguro}}</ion-label><br>
          </ion-item>-->
        </ion-list>

      </ion-card-content>

    </ion-card>
    <ion-list *ngIf="vehiList?.length<=0">
      <ion-item><ion-label>No se encontraro datos </ion-label></ion-item>
    </ion-list>
  </div>
</ion-content>
    